In [1]:
import pandas as pd
import numpy as np
import datetime
import re
import matplotlib.pyplot as plt
import matplotlib as mpl
import japanize_matplotlib

In [16]:
hw_all = pd.read_pickle("clean/hw_all.pkl")

In [17]:
hw_all.columns

Index(['GBA', 'GC', 'NDS', 'Wii', '3DS', 'WiiU', 'NSW', 'Xbox', 'Xbox360',
       'XboxOne', 'XSX', 'PS2', 'PSP', 'PS3', 'Vita', 'PS4', 'PS5'],
      dtype='object')

In [18]:
# indexの取得
hw_all

,GBA,GC,NDS,Wii,3DS,WiiU,NSW,Xbox,Xbox360,XboxOne,XSX,PS2,PSP,PS3,Vita,PS4,PS5
end_date,,,,,,,,,,,,,,,,,
2000-12-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3748000.0,NaN,NaN,NaN,NaN,NaN
2001-12-31,4200000.0,926000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3604000.0,NaN,NaN,NaN,NaN,NaN
2002-12-31,3367000.0,1035000.0,NaN,NaN,NaN,NaN,NaN,328000.0,NaN,NaN,NaN,3653000.0,NaN,NaN,NaN,NaN,NaN
2003-12-31,3613000.0,1040000.0,NaN,NaN,NaN,NaN,NaN,97000.0,NaN,NaN,NaN,2813000.0,NaN,NaN,NaN,NaN,NaN
2004-12-30,2575000.0,608000.0,1096000.0,NaN,NaN,NaN,NaN,35000.0,NaN,NaN,NaN,2751000.0,340000.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-04-04,NaN,NaN,NaN,NaN,305.0,NaN,67164.0,NaN,NaN,NaN,4409.0,NaN,NaN,NaN,NaN,12.0,30666.0
2022-04-11,NaN,NaN,NaN,NaN,194.0,NaN,61162.0,NaN,NaN,NaN,4068.0,NaN,NaN,NaN,NaN,14.0,11224.0
2022-04-18,NaN,NaN,NaN,NaN,224.0,NaN,60289.0,NaN,NaN,NaN,5742.0,NaN,NaN,NaN,NaN,15.0,11259.0
2022-04-25,NaN,NaN,NaN,NaN,205.0,NaN,57490.0,NaN,NaN,NaN,6025.0,NaN,NaN,NaN,NaN,12.0,17681.0
2022-05-09,NaN,NaN,NaN,NaN,452.0,NaN,176592.0,NaN,NaN,NaN,14118.0,NaN,NaN,NaN,NaN,81.0,49798.0

In [5]:
# 横軸の取得
hw_all.columns

Index(['NINTENDOSWITCH', 'Wii', 'WiiU', 'Xbox', 'Xbox360', 'XboxOne',
       'XboxSeriesX/S', 'ゲームボーイアドバンス', 'ニンテンドー3DS', 'ニンテンドーDS',
       'ニンテンドーゲームキューブ', 'プレイステーション2', 'プレイステーション3', 'プレイステーション4', 'プレイステーション5',
       'プレイステーションVita', 'プレイステーション・ポータブル'],
      dtype='object')

In [10]:
column_order = ['GBA', 'GC', 'NDS', 'Wii', '3DS', 'WiiU', 'NSW', 'Xbox', 'Xbox360', 'XboxOne', 'XSX', 'PS2', 'PSP', 'PS3', 'Vita', 'PS4', 'PS5']

In [14]:
hw_all = hw_all.reindex(columns=column_order)

In [15]:
hw_all

,GBA,GC,NDS,Wii,3DS,WiiU,NSW,Xbox,Xbox360,XboxOne,XSX,PS2,PSP,PS3,Vita,PS4,PS5
end_date,,,,,,,,,,,,,,,,,
2000-12-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3748000.0,NaN,NaN,NaN,NaN,NaN
2001-12-31,4200000.0,926000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3604000.0,NaN,NaN,NaN,NaN,NaN
2002-12-31,3367000.0,1035000.0,NaN,NaN,NaN,NaN,NaN,328000.0,NaN,NaN,NaN,3653000.0,NaN,NaN,NaN,NaN,NaN
2003-12-31,3613000.0,1040000.0,NaN,NaN,NaN,NaN,NaN,97000.0,NaN,NaN,NaN,2813000.0,NaN,NaN,NaN,NaN,NaN
2004-12-30,2575000.0,608000.0,1096000.0,NaN,NaN,NaN,NaN,35000.0,NaN,NaN,NaN,2751000.0,340000.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-04-04,NaN,NaN,NaN,NaN,305.0,NaN,67164.0,NaN,NaN,NaN,4409.0,NaN,NaN,NaN,NaN,12.0,30666.0
2022-04-11,NaN,NaN,NaN,NaN,194.0,NaN,61162.0,NaN,NaN,NaN,4068.0,NaN,NaN,NaN,NaN,14.0,11224.0
2022-04-18,NaN,NaN,NaN,NaN,224.0,NaN,60289.0,NaN,NaN,NaN,5742.0,NaN,NaN,NaN,NaN,15.0,11259.0
2022-04-25,NaN,NaN,NaN,NaN,205.0,NaN,57490.0,NaN,NaN,NaN,6025.0,NaN,NaN,NaN,NaN,12.0,17681.0
2022-05-09,NaN,NaN,NaN,NaN,452.0,NaN,176592.0,NaN,NaN,NaN,14118.0,NaN,NaN,NaN,NaN,81.0,49798.0