In [1]:
%load_ext autoreload
%autoreload 2

In [5]:
# 標準ライブラリ
from datetime import datetime, timedelta

# サードパーティライブラリ
import pandas as pd
from pandas import Timedelta
import matplotlib.pyplot as plt
import japanize_matplotlib
from matplotlib.ticker import ScalarFormatter
from IPython.display import Markdown, display

# プロジェクト内モジュール
from gamedata import hard_sales as hs
from gamedata import plot_hard as ph
from gamedata import hard_info as hi
from gamedata import hard_event as he
from gamedata import chart_hard as ch

In [3]:
base_df = hs.load_hard_sales()

## chart_units_by_date_hw

In [ ]:
(cudh_df, cudh_style) = ch.chart_units_by_date_hw(base_df, begin=datetime(2020, 1,1), end=datetime(2020,1,31))
cudh_style

In [13]:
cudh_df

                              販売台数      累計台数
集計日        ハード
2020-01-05 Nintendo Switch  200564  11584013
           PlayStation4      32801   8766217
           Nintendo 3DS       2486  24285620
           Xbox One            122    110360
2020-01-12 Nintendo Switch  200564  11784577
           PlayStation4      32802   8799019
           Nintendo 3DS       2487  24288107
           Xbox One            123    110483
2020-01-19 Nintendo Switch   96458  11881035
           PlayStation4       6325   8805344
           Nintendo 3DS        766  24288873
           Xbox One             74    110557
2020-01-26 Nintendo Switch   67987  11949022
           PlayStation4       6330   8811674
           Nintendo 3DS        718  24289591
           Xbox One             58    110615

## chart_weekly_ranking

In [15]:
cwr_df = ch.chart_weekly_ranking(rank_n=10, begin=datetime(2023,1,1), end=datetime(2023,12,31))
cwr_df

          集計日              ハード  週間販売台数
1  2023-01-01  Nintendo Switch  125359
2  2023-01-08  Nintendo Switch  125359
3  2023-10-08  Nintendo Switch  110241
4  2023-05-07  Nintendo Switch  108263
5  2023-04-30  Nintendo Switch  108262
6  2023-11-12     PlayStation5  107953
7  2023-07-02  Nintendo Switch  106214
8  2023-06-25  Nintendo Switch  105990
9  2023-06-11  Nintendo Switch  104413
10 2023-12-17  Nintendo Switch   94643

## chart_montly_ranking

In [16]:
cmr_df = ch.chart_monthly_ranking(rank_n=10, begin=datetime(2015,12,1), end=datetime(2016,11,30))
cmr_df

       年   月               ハード  月間販売台数
1   2015  12      Nintendo 3DS  494417
2   2016   1      Nintendo 3DS  260203
3   2016  11      Nintendo 3DS  241757
4   2015  12      PlayStation4  205581
5   2016  11      PlayStation4  204015
6   2016   1      PlayStation4  193184
7   2016   1  PlayStation Vita  189872
8   2015  12  PlayStation Vita  179885
9   2016  10      PlayStation4  158923
10  2015  12             Wii U  154050

## chart_yearly_ranking

In [18]:
cyr_df = ch.chart_yearly_ranking(rank_n=20)
cyr_df

       年                   ハード   年間販売台数
1   2006           Nintendo DS  8966021
2   2007           Nintendo DS  7202068
3   2020       Nintendo Switch  5956943
4   2012          Nintendo 3DS  5646213
5   2021       Nintendo Switch  5579127
6   2013          Nintendo 3DS  4912059
7   2022       Nintendo Switch  4804546
8   2019       Nintendo Switch  4493903
9   2001      GAME BOY ADVANCE  4245686
10  2011          Nintendo 3DS  4132038
11  2023       Nintendo Switch  4062609
12  2009           Nintendo DS  4013845
13  2008           Nintendo DS  3963304
14  2005           Nintendo DS  3939096
15  2002          PlayStation2  3719576
16  2007                   Wii  3670002
17  2003      GAME BOY ADVANCE  3591601
18  2025      Nintendo Switch2  3583810
19  2008  PlayStation Portable  3552105
20  2018       Nintendo Switch  3482388

## chart_delta_week

In [21]:
cdw_df = ch.chart_delta_week(28)
cdw_df.head(10)

   report_date  delta_week   hw             full_name  sum_units
1   2025-12-21          28  NS2      Nintendo Switch2    3583810
2   2001-10-07          28  GBA      GAME BOY ADVANCE    3276989
3   2000-09-17          28  PS2          PlayStation2    2725751
4   2007-06-17          28  Wii                   Wii    2697766
5   2005-06-19          28   DS           Nintendo DS    2295713
6   2011-09-11          28  3DS          Nintendo 3DS    1787469
7   2017-09-17          28  NSW       Nintendo Switch    1683937
8   2005-06-26          28  PSP  PlayStation Portable    1477541
9   1999-08-08          28  PKS         PocketStation    1337476
10  2002-03-31          28   GC     Nintendo GAMECUBE    1289171