In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
### 週販レポート2025年版

# 標準ライブラリ
from datetime import datetime, timedelta

# サードパーティライブラリ
import pandas as pd
from pandas import Timedelta
import matplotlib.pyplot as plt
import japanize_matplotlib
from matplotlib.ticker import ScalarFormatter
from IPython.display import Markdown, display

import gamedata as g

## load_hard_sales

In [3]:
base_df = g.load_hard_sales()
base_df

,weekly_id,begin_date,end_date,report_date,period_date,hw,units,adjust_units,year,month,...,week,delta_day,delta_week,delta_month,delta_year,avg_units,sum_units,launch_date,maker_name,full_name
0,1998-10-18_GB,1998-10-12,1998-10-18,1998-10-18,7,GB,10867,0,1998,10,...,3,3467,495,114,9,1552,10867,1989-04-21,Nintendo,GAME BOY
1,1998-10-18_N64,1998-10-12,1998-10-18,1998-10-18,7,N64,2965,0,1998,10,...,3,847,121,28,2,423,2965,1996-06-23,Nintendo,NINTENDO64
2,1998-10-18_PS,1998-10-12,1998-10-18,1998-10-18,7,PS,20918,0,1998,10,...,3,1415,202,46,4,2988,20918,1994-12-03,SONY,PlayStation
3,1998-10-18_SATURN,1998-10-12,1998-10-18,1998-10-18,7,SATURN,858,0,1998,10,...,3,1426,203,47,4,122,858,1994-11-22,SEGA,SEGA SATURN
4,1998-10-25_GB,1998-10-19,1998-10-25,1998-10-25,7,GB,163017,0,1998,10,...,4,3474,496,114,9,23288,173884,1989-04-21,Nintendo,GAME BOY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8559,2026-01-11_NS2,2026-01-05,2026-01-11,2026-01-11,7,NS2,156919,0,2026,1,...,2,220,31,7,1,22417,4097905,2025-06-05,Nintendo,Nintendo Switch2
8560,2026-01-11_NSW,2026-01-05,2026-01-11,2026-01-11,7,NSW,23180,0,2026,1,...,2,3236,462,106,9,3311,36462521,2017-03-03,Nintendo,Nintendo Switch
8561,2026-01-11_PS4,2026-01-05,2026-01-11,2026-01-11,7,PS4,13,0,2026,1,...,2,4341,620,143,12,1,9491072,2014-02-22,SONY,PlayStation4
8562,2026-01-11_PS5,2026-01-05,2026-01-11,2026-01-11,7,PS5,23377,0,2026,1,...,2,1886,269,62,6,3339,7344963,2020-11-12,SONY,PlayStation5
8563,2026-01-11_XSX,2026-01-05,2026-01-11,2026-01-11,7,XSX,141,0,2026,1,...,2,1888,269,62,6,20,689835,2020-11-10,Microsoft,Xbox Series X|S

## extract_week_reached_units

In [4]:
ex_df = g.extract_week_reached_units(base_df, threshold_units=2_000_000)
ex_df

,weekly_id,begin_date,end_date,report_date,period_date,hw,units,adjust_units,year,month,...,week,delta_day,delta_week,delta_month,delta_year,avg_units,sum_units,launch_date,maker_name,full_name
4411,2011-10-09_3DS,2011-10-03,2011-10-09,2011-10-09,7,3DS,50916,0,2011,10,...,2,225,32,8,0,7273,2024869,2011-02-26,Nintendo,Nintendo 3DS
2272,2005-05-01_DS,2005-04-25,2005-05-01,2005-05-01,7,DS,61869,0,2005,5,...,1,150,21,5,1,8838,2037178,2004-12-02,Nintendo,Nintendo DS
154,1999-04-25_GB,1999-04-19,1999-04-25,1999-04-25,7,GB,42306,0,1999,4,...,4,3656,522,120,10,6043,2019186,1989-04-21,Nintendo,GAME BOY
1018,2001-06-17_GBA,2001-06-11,2001-06-17,2001-06-17,7,GBA,52998,0,2001,6,...,3,88,12,3,0,7571,2043244,2001-03-21,Nintendo,GAME BOY ADVANCE
1627,2003-01-05_GC,2002-12-30,2003-01-05,2003-01-05,7,GC,66118,0,2003,1,...,1,478,68,16,2,9445,2032355,2001-09-14,Nintendo,Nintendo GAMECUBE
8474,2025-09-14_NS2,2025-09-08,2025-09-14,2025-09-14,7,NS2,44278,0,2025,9,...,2,101,14,3,0,6325,2024761,2025-06-05,Nintendo,Nintendo Switch2
6509,2017-10-29_NSW,2017-10-23,2017-10-29,2017-10-29,7,NSW,133094,0,2017,10,...,5,240,34,7,0,19013,2041221,2017-03-03,Nintendo,Nintendo Switch
325,1999-10-10_PKS,1999-10-04,1999-10-10,1999-10-10,7,PKS,58602,0,1999,10,...,2,260,37,9,0,8371,2051852,1999-01-23,SONY,PocketStation
277,1999-08-22_PS,1999-08-16,1999-08-22,1999-08-22,7,PS,33267,0,1999,8,...,4,1723,246,56,5,4752,2001760,1994-12-03,SONY,PlayStation
602,2000-06-25_PS2,2000-06-19,2000-06-25,2000-06-25,7,PS2,67099,0,2000,6,...,4,113,16,3,0,9585,2008755,2000-03-04,SONY,PlayStation2
3277,2008-03-30_PS3,2008-03-24,2008-03-30,2008-03-30,7,PS3,12534,0,2008,3,...,5,505,72,16,2,1790,2009492,2006-11-11,SONY,PlayStation3
5990,2015-12-20_PS4,2015-12-14,2015-12-20,2015-12-20,7,PS4,60330,0,2015,12,...,3,666,95,22,1,8618,2045310,2014-02-22,SONY,PlayStation4
7783,2022-10-23_PS5,2022-10-17,2022-10-23,2022-10-23,7,PS5,28661,0,2022,10,...,4,710,101,23,2,4094,2027783,2020-11-12,SONY,PlayStation5
2438,2005-11-06_PSP,2005-10-31,2005-11-06,2005-11-06,7,PSP,28931,0,2005,11,...,1,329,47,11,1,4133,2003979,2004-12-12,SONY,PlayStation Portable
5252,2013-11-17_Vita,2013-11-11,2013-11-17,2013-11-17,7,Vita,90996,0,2013,11,...,3,701,100,23,2,12999,2027414,2011-12-17,SONY,PlayStation Vita
2922,2007-04-08_Wii,2007-04-02,2007-04-08,2007-04-08,7,Wii,44520,0,2007,4,...,2,127,18,4,1,6360,2038951,2006-12-02,Nintendo,Wii
5667,2014-12-07_WiiU,2014-12-01,2014-12-07,2014-12-07,7,WiiU,27191,0,2014,12,...,1,729,104,24,2,3884,2008548,2012-12-08,Nintendo,WiiU

## extract_by_date

In [5]:
za_df = g.extract_by_date(base_df, target_date=datetime(2025,10,16), hw=["NS2", "PS5"])
za_df

,weekly_id,begin_date,end_date,report_date,period_date,hw,units,adjust_units,year,month,...,week,delta_day,delta_week,delta_month,delta_year,avg_units,sum_units,launch_date,maker_name,full_name
8499,2025-10-19_NS2,2025-10-13,2025-10-19,2025-10-19,7,NS2,201684,0,2025,10,...,3,136,19,4,0,28812,2402587,2025-06-05,Nintendo,Nintendo Switch2
8502,2025-10-19_PS5,2025-10-13,2025-10-19,2025-10-19,7,PS5,12085,0,2025,10,...,3,1802,257,59,5,1726,7111164,2020-11-12,SONY,PlayStation5

## extract_latest

In [6]:
latest_df = g.extract_latest(base_df, 4)
latest_df

,weekly_id,begin_date,end_date,report_date,period_date,hw,units,adjust_units,year,month,...,week,delta_day,delta_week,delta_month,delta_year,avg_units,sum_units,launch_date,maker_name,full_name
8544,2025-12-21_NS2,2025-12-15,2025-12-21,2025-12-21,7,NS2,221033,0,2025,12,...,3,199,28,6,0,31576,3583810,2025-06-05,Nintendo,Nintendo Switch2
8545,2025-12-21_NSW,2025-12-15,2025-12-21,2025-12-21,7,NSW,38184,0,2025,12,...,3,3215,459,105,8,5454,36383386,2017-03-03,Nintendo,Nintendo Switch
8546,2025-12-21_PS4,2025-12-15,2025-12-21,2025-12-21,7,PS4,12,0,2025,12,...,3,4320,617,142,11,1,9491032,2014-02-22,SONY,PlayStation4
8547,2025-12-21_PS5,2025-12-15,2025-12-21,2025-12-21,7,PS5,19307,0,2025,12,...,3,1865,266,61,5,2758,7278978,2020-11-12,SONY,PlayStation5
8548,2025-12-21_XSX,2025-12-15,2025-12-21,2025-12-21,7,XSX,184,0,2025,12,...,3,1867,266,61,5,26,689257,2020-11-10,Microsoft,Xbox Series X|S
8549,2025-12-28_NS2,2025-12-22,2025-12-28,2025-12-28,7,NS2,200257,0,2025,12,...,4,206,29,6,0,28608,3784067,2025-06-05,Nintendo,Nintendo Switch2
8550,2025-12-28_NSW,2025-12-22,2025-12-28,2025-12-28,7,NSW,32775,0,2025,12,...,4,3222,460,105,8,4682,36416161,2017-03-03,Nintendo,Nintendo Switch
8551,2025-12-28_PS4,2025-12-22,2025-12-28,2025-12-28,7,PS4,15,0,2025,12,...,4,4327,618,142,11,2,9491047,2014-02-22,SONY,PlayStation4
8552,2025-12-28_PS5,2025-12-22,2025-12-28,2025-12-28,7,PS5,19232,0,2025,12,...,4,1872,267,61,5,2747,7298210,2020-11-12,SONY,PlayStation5
8553,2025-12-28_XSX,2025-12-22,2025-12-28,2025-12-28,7,XSX,297,0,2025,12,...,4,1874,267,61,5,42,689554,2020-11-10,Microsoft,Xbox Series X|S
8554,2026-01-04_NS2,2025-12-29,2026-01-04,2026-01-04,7,NS2,156919,0,2026,1,...,1,213,30,7,1,22417,3940986,2025-06-05,Nintendo,Nintendo Switch2
8555,2026-01-04_NSW,2025-12-29,2026-01-04,2026-01-04,7,NSW,23180,0,2026,1,...,1,3229,461,106,9,3311,36439341,2017-03-03,Nintendo,Nintendo Switch
8556,2026-01-04_PS4,2025-12-29,2026-01-04,2026-01-04,7,PS4,12,0,2026,1,...,1,4334,619,143,12,1,9491059,2014-02-22,SONY,PlayStation4
8557,2026-01-04_PS5,2025-12-29,2026-01-04,2026-01-04,7,PS5,23376,0,2026,1,...,1,1879,268,62,6,3339,7321586,2020-11-12,SONY,PlayStation5
8558,2026-01-04_XSX,2025-12-29,2026-01-04,2026-01-04,7,XSX,140,0,2026,1,...,1,1881,268,62,6,20,689694,2020-11-10,Microsoft,Xbox Series X|S
8559,2026-01-11_NS2,2026-01-05,2026-01-11,2026-01-11,7,NS2,156919,0,2026,1,...,2,220,31,7,1,22417,4097905,2025-06-05,Nintendo,Nintendo Switch2
8560,2026-01-11_NSW,2026-01-05,2026-01-11,2026-01-11,7,NSW,23180,0,2026,1,...,2,3236,462,106,9,3311,36462521,2017-03-03,Nintendo,Nintendo Switch
8561,2026-01-11_PS4,2026-01-05,2026-01-11,2026-01-11,7,PS4,13,0,2026,1,...,2,4341,620,143,12,1,9491072,2014-02-22,SONY,PlayStation4
8562,2026-01-11_PS5,2026-01-05,2026-01-11,2026-01-11,7,PS5,23377,0,2026,1,...,2,1886,269,62,6,3339,7344963,2020-11-12,SONY,PlayStation5
8563,2026-01-11_XSX,2026-01-05,2026-01-11,2026-01-11,7,XSX,141,0,2026,1,...,2,1888,269,62,6,20,689835,2020-11-10,Microsoft,Xbox Series X|S

## current_report_date

In [7]:
current_date = g.current_report_date(base_df)
current_date

Timestamp('2026-01-11 00:00:00')

## get_hw

In [8]:
hw_list = g.get_hw(latest_df)
hw_list

['NS2', 'NSW', 'PS4', 'PS5', 'XSX']

## get_active_hw

In [9]:
hw_list = g.get_active_hw()
hw_list

['NSW', 'PS4', 'PS5', 'XSX', 'NS2']

## weekly_sales

In [10]:
weekly_df = g.weekly_sales(base_df, begin=datetime(2025,1,1))
weekly_df

    report_date   hw  weekly_units  sum_units
0    2025-01-05  NSW        109729     109729
1    2025-01-05  PS4            35         35
2    2025-01-05  PS5         46680      46680
3    2025-01-05  XSX          1113       1113
4    2025-01-12  NSW         57831     167560
..          ...  ...           ...        ...
243  2026-01-11  NS2        156919    4097905
244  2026-01-11  NSW         23180    1566744
245  2026-01-11  PS4            13       1112
246  2026-01-11  PS5         23377     925957
247  2026-01-11  XSX           141      31507

[248 rows x 4 columns]

## monthly_sales

In [11]:
monthly_df = g.monthly_sales(base_df, begin=datetime(2024,1,1))
monthly_df

     year  month   hw  monthly_units  sum_units
0    2024      1  3DS             57         57
1    2024      1  NSW         241282     241282
2    2024      1  PS4           2574       2574
3    2024      1  PS5         185480     185480
4    2024      1  XSX           8281       8281
..    ...    ...  ...            ...        ...
106  2026      1  NS2         313838    4097905
107  2026      1  NSW          46360    4675847
108  2026      1  PS4             25      14840
109  2026      1  PS5          46753    2380106
110  2026      1  XSX            281     149728

[111 rows x 5 columns]

## yearly_sales

In [12]:
yearly_df = g.yearly_sales(base_df, begin=datetime(2020,1,1), maker_mode=True)
yearly_df

    year maker_name  yearly_units  sum_units
0   2020  Microsoft         35009      35009
1   2020   Nintendo       6019704    6019704
2   2020       SONY        797797     797797
3   2021  Microsoft         97234     132243
4   2021   Nintendo       5607667   11627371
5   2021       SONY       1072239    1870036
6   2022  Microsoft        269737     401980
7   2022   Nintendo       4815210   16442581
8   2022       SONY       1176877    3046913
9   2023  Microsoft        141712     543692
10  2023   Nintendo       4065642   20508223
11  2023       SONY       2660760    5707673
12  2024  Microsoft        118221     661913
13  2024   Nintendo       3109265   23617488
14  2024       SONY       1467877    7175550
15  2025  Microsoft         31226     693139
16  2025   Nintendo       5304451   28921939
17  2025       SONY        880291    8055841
18  2026  Microsoft           281     693420
19  2026   Nintendo        360198   29282137
20  2026       SONY         46778    8102619

## yearly_maker_sales

In [13]:
mk_df = g.yearly_maker_sales(base_df, begin=datetime(2020,1,1))
mk_df

    year maker_name  yearly_units
0   2020  Microsoft         35009
1   2020   Nintendo       6019704
2   2020       SONY        797797
3   2021  Microsoft         97234
4   2021   Nintendo       5607667
5   2021       SONY       1072239
6   2022  Microsoft        269737
7   2022   Nintendo       4815210
8   2022       SONY       1176877
9   2023  Microsoft        141712
10  2023   Nintendo       4065642
11  2023       SONY       2660760
12  2024  Microsoft        118221
13  2024   Nintendo       3109265
14  2024       SONY       1467877
15  2025  Microsoft         31226
16  2025   Nintendo       5304451
17  2025       SONY        880291
18  2026  Microsoft           281
19  2026   Nintendo        360198
20  2026       SONY         46778

## delta_yearly_sales

In [14]:
dys_df = g.delta_yearly_sales(base_df)
dys_df

     delta_year   hw  yearly_units  sum_units
0             0  3DS       4132038    4132038
1             0   DC        270095     270095
2             0   DS       1056428    1056428
3             0  GBA       4245686    4245686
4             0   GC        929832     929832
..          ...  ...           ...        ...
188          12  PS4            25    9491072
189          13  3DS           162   24388294
190          13   GB        109226    6380746
191          13  PS2          4689   21235897
192          14   GB          8948    6389694

[193 rows x 4 columns]