In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
### 週販レポート2025年版

# 標準ライブラリ
from datetime import datetime, timedelta

# サードパーティライブラリ
import pandas as pd
from pandas import Timedelta
import matplotlib.pyplot as plt
import japanize_matplotlib
from matplotlib.ticker import ScalarFormatter
from IPython.display import Markdown, display

# プロジェクト内モジュール
from gamedata import hard_sales as hs
from gamedata import plot_hard as ph
from gamedata import hard_info as hi
from gamedata import hard_event as he

## load_hard_sales

In [3]:
base_df = hs.load_hard_sales()
base_df

,weekly_id,begin_date,end_date,report_date,period_date,hw,units,adjust_units,year,month,...,week,delta_day,delta_week,delta_month,delta_year,avg_units,sum_units,launch_date,maker_name,full_name
0,1998-10-18_GB,1998-10-12,1998-10-18,1998-10-18,7,GB,10867,0,1998,10,...,3,3467,495,114,9,1552,10867,1989-04-21,Nintendo,GAME BOY
1,1998-10-18_N64,1998-10-12,1998-10-18,1998-10-18,7,N64,2965,0,1998,10,...,3,847,121,28,2,423,2965,1996-06-23,Nintendo,NINTENDO64
2,1998-10-18_PS,1998-10-12,1998-10-18,1998-10-18,7,PS,20918,0,1998,10,...,3,1415,202,46,4,2988,20918,1994-12-03,SONY,PlayStation
3,1998-10-18_SATURN,1998-10-12,1998-10-18,1998-10-18,7,SATURN,858,0,1998,10,...,3,1426,203,47,4,122,858,1994-11-22,SEGA,SEGA SATURN
4,1998-10-25_GB,1998-10-19,1998-10-25,1998-10-25,7,GB,163017,0,1998,10,...,4,3474,496,114,9,23288,173884,1989-04-21,Nintendo,GAME BOY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8544,2025-12-21_NS2,2025-12-15,2025-12-21,2025-12-21,7,NS2,221033,0,2025,12,...,3,199,28,6,0,31576,3583810,2025-06-05,Nintendo,Nintendo Switch2
8545,2025-12-21_NSW,2025-12-15,2025-12-21,2025-12-21,7,NSW,38184,0,2025,12,...,3,3215,459,105,8,5454,36383386,2017-03-03,Nintendo,Nintendo Switch
8546,2025-12-21_PS4,2025-12-15,2025-12-21,2025-12-21,7,PS4,12,0,2025,12,...,3,4320,617,142,11,1,9491032,2014-02-22,SONY,PlayStation4
8547,2025-12-21_PS5,2025-12-15,2025-12-21,2025-12-21,7,PS5,19307,0,2025,12,...,3,1865,266,61,5,2758,7278978,2020-11-12,SONY,PlayStation5
8548,2025-12-21_XSX,2025-12-15,2025-12-21,2025-12-21,7,XSX,184,0,2025,12,...,3,1867,266,61,5,26,689257,2020-11-10,Microsoft,Xbox Series X|S

## extract_week_reached_units

In [4]:
ex_df = hs.extract_week_reached_units(base_df, threshold_units=2_000_000)
ex_df

,weekly_id,begin_date,end_date,report_date,period_date,hw,units,adjust_units,year,month,...,week,delta_day,delta_week,delta_month,delta_year,avg_units,sum_units,launch_date,maker_name,full_name
4411,2011-10-09_3DS,2011-10-03,2011-10-09,2011-10-09,7,3DS,50916,0,2011,10,...,2,225,32,8,0,7273,2024869,2011-02-26,Nintendo,Nintendo 3DS
2272,2005-05-01_DS,2005-04-25,2005-05-01,2005-05-01,7,DS,61869,0,2005,5,...,1,150,21,5,1,8838,2037178,2004-12-02,Nintendo,Nintendo DS
154,1999-04-25_GB,1999-04-19,1999-04-25,1999-04-25,7,GB,42306,0,1999,4,...,4,3656,522,120,10,6043,2019186,1989-04-21,Nintendo,GAME BOY
1018,2001-06-17_GBA,2001-06-11,2001-06-17,2001-06-17,7,GBA,52998,0,2001,6,...,3,88,12,3,0,7571,2043244,2001-03-21,Nintendo,GAME BOY ADVANCE
1627,2003-01-05_GC,2002-12-30,2003-01-05,2003-01-05,7,GC,66118,0,2003,1,...,1,478,68,16,2,9445,2032355,2001-09-14,Nintendo,Nintendo GAMECUBE
8474,2025-09-14_NS2,2025-09-08,2025-09-14,2025-09-14,7,NS2,44278,0,2025,9,...,2,101,14,3,0,6325,2024761,2025-06-05,Nintendo,Nintendo Switch2
6509,2017-10-29_NSW,2017-10-23,2017-10-29,2017-10-29,7,NSW,133094,0,2017,10,...,5,240,34,7,0,19013,2041221,2017-03-03,Nintendo,Nintendo Switch
325,1999-10-10_PKS,1999-10-04,1999-10-10,1999-10-10,7,PKS,58602,0,1999,10,...,2,260,37,9,0,8371,2051852,1999-01-23,SONY,PocketStation
277,1999-08-22_PS,1999-08-16,1999-08-22,1999-08-22,7,PS,33267,0,1999,8,...,4,1723,246,56,5,4752,2001760,1994-12-03,SONY,PlayStation
602,2000-06-25_PS2,2000-06-19,2000-06-25,2000-06-25,7,PS2,67099,0,2000,6,...,4,113,16,3,0,9585,2008755,2000-03-04,SONY,PlayStation2
3277,2008-03-30_PS3,2008-03-24,2008-03-30,2008-03-30,7,PS3,12534,0,2008,3,...,5,505,72,16,2,1790,2009492,2006-11-11,SONY,PlayStation3
5990,2015-12-20_PS4,2015-12-14,2015-12-20,2015-12-20,7,PS4,60330,0,2015,12,...,3,666,95,22,1,8618,2045310,2014-02-22,SONY,PlayStation4
7783,2022-10-23_PS5,2022-10-17,2022-10-23,2022-10-23,7,PS5,28661,0,2022,10,...,4,710,101,23,2,4094,2027783,2020-11-12,SONY,PlayStation5
2438,2005-11-06_PSP,2005-10-31,2005-11-06,2005-11-06,7,PSP,28931,0,2005,11,...,1,329,47,11,1,4133,2003979,2004-12-12,SONY,PlayStation Portable
5252,2013-11-17_Vita,2013-11-11,2013-11-17,2013-11-17,7,Vita,90996,0,2013,11,...,3,701,100,23,2,12999,2027414,2011-12-17,SONY,PlayStation Vita
2922,2007-04-08_Wii,2007-04-02,2007-04-08,2007-04-08,7,Wii,44520,0,2007,4,...,2,127,18,4,1,6360,2038951,2006-12-02,Nintendo,Wii
5667,2014-12-07_WiiU,2014-12-01,2014-12-07,2014-12-07,7,WiiU,27191,0,2014,12,...,1,729,104,24,2,3884,2008548,2012-12-08,Nintendo,WiiU

## extract_by_date

In [5]:
za_df = hs.extract_by_date(base_df, target_date=datetime(2025,10,16), hw=["NS2", "PS5"])
za_df

,weekly_id,begin_date,end_date,report_date,period_date,hw,units,adjust_units,year,month,...,week,delta_day,delta_week,delta_month,delta_year,avg_units,sum_units,launch_date,maker_name,full_name
8499,2025-10-19_NS2,2025-10-13,2025-10-19,2025-10-19,7,NS2,201684,0,2025,10,...,3,136,19,4,0,28812,2402587,2025-06-05,Nintendo,Nintendo Switch2
8502,2025-10-19_PS5,2025-10-13,2025-10-19,2025-10-19,7,PS5,12085,0,2025,10,...,3,1802,257,59,5,1726,7111164,2020-11-12,SONY,PlayStation5

## extract_latest

In [23]:
latest_df = hs.extract_latest(base_df, 4)
latest_df

,weekly_id,begin_date,end_date,report_date,period_date,hw,units,adjust_units,year,month,...,week,delta_day,delta_week,delta_month,delta_year,avg_units,sum_units,launch_date,maker_name,full_name
8529,2025-11-30_NS2,2025-11-24,2025-11-30,2025-11-30,7,NS2,97677,0,2025,11,...,5,178,25,5,0,13953,2968435,2025-06-05,Nintendo,Nintendo Switch2
8530,2025-11-30_NSW,2025-11-24,2025-11-30,2025-11-30,7,NSW,35327,0,2025,11,...,5,3194,456,104,8,5046,36262542,2017-03-03,Nintendo,Nintendo Switch
8531,2025-11-30_PS4,2025-11-24,2025-11-30,2025-11-30,7,PS4,13,0,2025,11,...,5,4299,614,141,11,1,9490987,2014-02-22,SONY,PlayStation4
8532,2025-11-30_PS5,2025-11-24,2025-11-30,2025-11-30,7,PS5,35786,0,2025,11,...,5,1844,263,60,5,5112,7215519,2020-11-12,SONY,PlayStation5
8533,2025-11-30_XSX,2025-11-24,2025-11-30,2025-11-30,7,XSX,172,0,2025,11,...,5,1846,263,60,5,24,688659,2020-11-10,Microsoft,Xbox Series X|S
8534,2025-12-07_NS2,2025-12-01,2025-12-07,2025-12-07,7,NS2,203398,0,2025,12,...,1,185,26,6,0,29056,3171833,2025-06-05,Nintendo,Nintendo Switch2
8535,2025-12-07_NSW,2025-12-01,2025-12-07,2025-12-07,7,NSW,51316,0,2025,12,...,1,3201,457,105,8,7330,36313858,2017-03-03,Nintendo,Nintendo Switch
8536,2025-12-07_PS4,2025-12-01,2025-12-07,2025-12-07,7,PS4,20,0,2025,12,...,1,4306,615,142,11,2,9491007,2014-02-22,SONY,PlayStation4
8537,2025-12-07_PS5,2025-12-01,2025-12-07,2025-12-07,7,PS5,25240,0,2025,12,...,1,1851,264,61,5,3605,7240759,2020-11-12,SONY,PlayStation5
8538,2025-12-07_XSX,2025-12-01,2025-12-07,2025-12-07,7,XSX,231,0,2025,12,...,1,1853,264,61,5,33,688890,2020-11-10,Microsoft,Xbox Series X|S
8539,2025-12-14_NS2,2025-12-08,2025-12-14,2025-12-14,7,NS2,190944,0,2025,12,...,2,192,27,6,0,27277,3362777,2025-06-05,Nintendo,Nintendo Switch2
8540,2025-12-14_NSW,2025-12-08,2025-12-14,2025-12-14,7,NSW,31344,0,2025,12,...,2,3208,458,105,8,4477,36345202,2017-03-03,Nintendo,Nintendo Switch
8541,2025-12-14_PS4,2025-12-08,2025-12-14,2025-12-14,7,PS4,13,0,2025,12,...,2,4313,616,142,11,1,9491020,2014-02-22,SONY,PlayStation4
8542,2025-12-14_PS5,2025-12-08,2025-12-14,2025-12-14,7,PS5,18912,0,2025,12,...,2,1858,265,61,5,2701,7259671,2020-11-12,SONY,PlayStation5
8543,2025-12-14_XSX,2025-12-08,2025-12-14,2025-12-14,7,XSX,183,0,2025,12,...,2,1860,265,61,5,26,689073,2020-11-10,Microsoft,Xbox Series X|S
8544,2025-12-21_NS2,2025-12-15,2025-12-21,2025-12-21,7,NS2,221033,0,2025,12,...,3,199,28,6,0,31576,3583810,2025-06-05,Nintendo,Nintendo Switch2
8545,2025-12-21_NSW,2025-12-15,2025-12-21,2025-12-21,7,NSW,38184,0,2025,12,...,3,3215,459,105,8,5454,36383386,2017-03-03,Nintendo,Nintendo Switch
8546,2025-12-21_PS4,2025-12-15,2025-12-21,2025-12-21,7,PS4,12,0,2025,12,...,3,4320,617,142,11,1,9491032,2014-02-22,SONY,PlayStation4
8547,2025-12-21_PS5,2025-12-15,2025-12-21,2025-12-21,7,PS5,19307,0,2025,12,...,3,1865,266,61,5,2758,7278978,2020-11-12,SONY,PlayStation5
8548,2025-12-21_XSX,2025-12-15,2025-12-21,2025-12-21,7,XSX,184,0,2025,12,...,3,1867,266,61,5,26,689257,2020-11-10,Microsoft,Xbox Series X|S

## current_report_date

In [7]:
current_date = hs.current_report_date(base_df)
current_date

Timestamp('2025-12-21 00:00:00')

## get_hw

In [8]:
hw_list = hs.get_hw(latest_df)
hw_list

['NS2', 'NSW', 'PS4', 'PS5', 'XSX']

## get_active_hw

In [9]:
hw_list = hs.get_active_hw()
hw_list

['NSW', 'PS4', 'PS5', 'XSX', 'NS2']

## weekly_sales

In [10]:
weekly_df = hs.weekly_sales(base_df, begin=datetime(2025,1,1))
weekly_df

    report_date   hw  weekly_units  sum_units
0    2025-01-05  NSW        109729     109729
1    2025-01-05  PS4            35         35
2    2025-01-05  PS5         46680      46680
3    2025-01-05  XSX          1113       1113
4    2025-01-12  NSW         57831     167560
..          ...  ...           ...        ...
228  2025-12-21  NS2        221033    3583810
229  2025-12-21  NSW         38184    1487609
230  2025-12-21  PS4            12       1072
231  2025-12-21  PS5         19307     859972
232  2025-12-21  XSX           184      30929

[233 rows x 4 columns]

## monthly_sales

In [11]:
monthly_df = hs.monthly_sales(base_df, begin=datetime(2024,1,1))
monthly_df

     year  month   hw  monthly_units  sum_units
0    2024      1  3DS             57         57
1    2024      1  NSW         241282     241282
2    2024      1  PS4           2574       2574
3    2024      1  PS5         185480     185480
4    2024      1  XSX           8281       8281
..    ...    ...  ...            ...        ...
101  2025     12  NS2         615375    3583810
102  2025     12  NSW         120844    4596712
103  2025     12  PS4             45      14800
104  2025     12  PS5          63459    2314121
105  2025     12  XSX            598     149150

[106 rows x 5 columns]

## yearly_sales

In [22]:
yearly_df = hs.yearly_sales(base_df, begin=datetime(2020,1,1), maker_mode=True)
yearly_df

    year maker_name  yearly_units  sum_units
0   2020  Microsoft         35009      35009
1   2020   Nintendo       6019704    6019704
2   2020       SONY        797797     797797
3   2021  Microsoft         97234     132243
4   2021   Nintendo       5607667   11627371
5   2021       SONY       1072239    1870036
6   2022  Microsoft        269737     401980
7   2022   Nintendo       4815210   16442581
8   2022       SONY       1176877    3046913
9   2023  Microsoft        141712     543692
10  2023   Nintendo       4065642   20508223
11  2023       SONY       2660760    5707673
12  2024  Microsoft        118221     661913
13  2024   Nintendo       3109265   23617488
14  2024       SONY       1467877    7175550
15  2025  Microsoft         30929     692842
16  2025   Nintendo       5071419   28688907
17  2025       SONY        861044    8036594

## yearly_maker_sales

In [21]:
mk_df = hs.yearly_maker_sales(base_df, begin=datetime(2020,1,1))
mk_df

    year maker_name  yearly_units
0   2020  Microsoft         35009
1   2020   Nintendo       6019704
2   2020       SONY        797797
3   2021  Microsoft         97234
4   2021   Nintendo       5607667
5   2021       SONY       1072239
6   2022  Microsoft        269737
7   2022   Nintendo       4815210
8   2022       SONY       1176877
9   2023  Microsoft        141712
10  2023   Nintendo       4065642
11  2023       SONY       2660760
12  2024  Microsoft        118221
13  2024   Nintendo       3109265
14  2024       SONY       1467877
15  2025  Microsoft         30929
16  2025   Nintendo       5071419
17  2025       SONY        861044

## delta_yearly_sales

In [20]:
dys_df = hs.delta_yearly_sales(base_df)
dys_df

     delta_year   hw  yearly_units  sum_units
0             0  3DS       4132038    4132038
1             0   DC        270095     270095
2             0   DS       1056428    1056428
3             0  GBA       4245686    4245686
4             0   GC        929832     929832
..          ...  ...           ...        ...
183          12  PS2         26201   21231208
184          13  3DS           162   24388294
185          13   GB        109226    6380746
186          13  PS2          4689   21235897
187          14   GB          8948    6389694

[188 rows x 4 columns]