In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
### 週販レポート2025年版

# 標準ライブラリ
from datetime import datetime, timedelta

# サードパーティライブラリ
import pandas as pd
from pandas import Timedelta
import matplotlib.pyplot as plt
import japanize_matplotlib
from matplotlib.ticker import ScalarFormatter
from IPython.display import Markdown, display

# プロジェクト内モジュール
import gamedata as g

In [3]:
base_df = g.load_hard_sales()

## pivot_sales

In [4]:
pvs_df = g.pivot_sales(base_df, begin=datetime(2020,1,1))
pvs_df

hw              3DS       NS2       NSW      PS4      PS5  XBOne    XSX
report_date
2020-01-05   2486.0       NaN  200564.0  32801.0      NaN  122.0    NaN
2020-01-12   2487.0       NaN  200564.0  32802.0      NaN  123.0    NaN
2020-01-19    766.0       NaN   96458.0   6325.0      NaN   74.0    NaN
2020-01-26    718.0       NaN   67987.0   6330.0      NaN   58.0    NaN
2020-02-02    599.0       NaN   75922.0   6282.0      NaN   38.0    NaN
...             ...       ...       ...      ...      ...    ...    ...
2025-12-21      NaN  221033.0   38184.0     12.0  19307.0    NaN  184.0
2025-12-28      NaN  200257.0   32775.0     15.0  19232.0    NaN  297.0
2026-01-04      NaN  156919.0   23180.0     12.0  23376.0    NaN  140.0
2026-01-11      NaN  156919.0   23180.0     13.0  23377.0    NaN  141.0
2026-01-18      NaN   67509.0   27234.0     10.0   9983.0    NaN  303.0

[316 rows x 7 columns]

## pivot_montly_sales

In [5]:
pvms_df = g.pivot_monthly_sales(base_df, begin=datetime(2020,1,1), end=datetime(2022,12,31))
pvms_df

hw              3DS       NSW       PS4       PS5  XBOne      XSX
year month
2020 1       6457.0  565573.0   78258.0       NaN  377.0      NaN
     2       2961.0  298685.0   27336.0       NaN  187.0      NaN
     3       5752.0  836094.0   64492.0       NaN  840.0      NaN
     4       6199.0  314931.0  166150.0       NaN  380.0      NaN
     5       7691.0  355993.0   48357.0       NaN  690.0      NaN
     6       4280.0  295606.0   51219.0       NaN  213.0      NaN
     7       3679.0  387557.0   13940.0       NaN  150.0      NaN
     8       4965.0  557544.0   15357.0       NaN  187.0      NaN
     9      10872.0  342102.0    8732.0       NaN  124.0      NaN
     10      4227.0  360288.0   17726.0       NaN  160.0      NaN
     11      3633.0  666773.0   15810.0  201435.0  151.0  27811.0
     12      2045.0  975797.0   35270.0   53715.0  126.0   3613.0
2021 1       3087.0  875389.0   35254.0   72420.0    NaN   1926.0
     2       3121.0  350447.0   13802.0   95289.0    NaN   2167.0
     3       3409.0  519138.0   10833.0  157352.0    NaN   4492.0
     4       2436.0  431225.0    5499.0   78567.0    NaN   1381.0
     5       2323.0  501705.0    7670.0  123272.0    NaN   4113.0
     6       1736.0  323553.0    7125.0   76533.0    NaN  11121.0
     7       2435.0  287622.0    3817.0   58979.0    NaN  11094.0
     8       2251.0  361151.0    6824.0   78019.0    NaN  15578.0
     9       2766.0  214421.0    5582.0   76615.0    NaN  11713.0
     10      2067.0  476183.0    4944.0   85712.0    NaN  18520.0
     11      1692.0  468135.0    2380.0   28324.0    NaN   9241.0
     12      1217.0  770158.0     324.0   37103.0    NaN   5888.0
2022 1       2259.0  615437.0      81.0  114003.0    NaN   7376.0
     2       1499.0  377678.0      40.0   65772.0    NaN  21029.0
     3       1539.0  364495.0      50.0   94407.0    NaN   7227.0
     4        928.0  246105.0      53.0   70830.0    NaN  20244.0
     5       1107.0  367630.0     139.0   81598.0    NaN  30015.0
     6        820.0  226512.0     134.0   53239.0    NaN  33425.0
     7        762.0  354813.0      65.0  100797.0    NaN  35051.0
     8        589.0  325748.0      56.0   87364.0    NaN  35249.0
     9        200.0  495174.0      43.0   63858.0    NaN  32153.0
     10       338.0  269085.0      61.0  111446.0    NaN  25244.0
     11       162.0  514840.0    8418.0  124768.0    NaN  17327.0
     12       461.0  647029.0   13683.0  185972.0    NaN   5397.0

In [6]:
pvqs_df = g.pivot_quarterly_sales(base_df, begin=datetime(2020,1,1), end=datetime(2022,12,31))
pvqs_df

hw           3DS        NSW       PS4       PS5   XBOne       XSX
quarter
2020Q1   15170.0  1700352.0  170086.0       NaN  1404.0       NaN
2020Q2   18170.0   966530.0  265726.0       NaN  1283.0       NaN
2020Q3   19516.0  1287203.0   38029.0       NaN   461.0       NaN
2020Q4    9905.0  2002858.0   68806.0  255150.0   437.0   31424.0
2021Q1    9617.0  1744974.0   59889.0  325061.0     NaN    8585.0
2021Q2    6495.0  1256483.0   20294.0  278372.0     NaN   16615.0
2021Q3    7452.0   863194.0   16223.0  213613.0     NaN   38385.0
2021Q4    4976.0  1714476.0    7648.0  151139.0     NaN   33649.0
2022Q1    5297.0  1357610.0     171.0  274182.0     NaN   35632.0
2022Q2    2855.0   840247.0     326.0  205667.0     NaN   83684.0
2022Q3    1551.0  1175735.0     164.0  252019.0     NaN  102453.0
2022Q4     961.0  1430954.0   22162.0  422186.0     NaN   47968.0

## pivot_yearly_sales

In [7]:
pvys_df = g.pivot_yearly_sales(base_df, begin=datetime(2005,1,1))
pvys_df

hw,3DS,DS,GBA,GC,NS2,NSW,PS2,PS3,PS4,PS5,PSP,Vita,Wii,WiiU,XB360,XBOne,XSX,Xbox
year,,,,,,,,,,,,,,,,,,
2005,NaN,3939096.0,1251834.0,304895.0,NaN,NaN,2102274.0,NaN,NaN,NaN,2194008.0,NaN,NaN,NaN,84490.0,NaN,NaN,12810.0
2006,NaN,8966021.0,451045.0,100796.0,NaN,NaN,1554469.0,466716.0,NaN,NaN,1969363.0,NaN,989118.0,NaN,205977.0,NaN,NaN,NaN
2007,NaN,7202068.0,74290.0,5710.0,NaN,NaN,818773.0,1216483.0,NaN,NaN,3038311.0,NaN,3670002.0,NaN,259693.0,NaN,NaN,NaN
2008,NaN,3963304.0,9374.0,NaN,NaN,NaN,480806.0,991256.0,NaN,NaN,3552105.0,NaN,2857281.0,NaN,318921.0,NaN,NaN,NaN
2009,NaN,4013845.0,NaN,NaN,NaN,NaN,253617.0,1723036.0,NaN,NaN,2305627.0,NaN,1956578.0,NaN,328348.0,NaN,NaN,NaN
2010,NaN,2785954.0,NaN,NaN,NaN,NaN,89573.0,1500659.0,NaN,NaN,2704976.0,NaN,1651288.0,NaN,200872.0,NaN,NaN,NaN
2011,4132038.0,648509.0,NaN,NaN,NaN,NaN,56235.0,1414745.0,NaN,NaN,1889806.0,402794.0,873406.0,NaN,110034.0,NaN,NaN,NaN
2012,5646213.0,27662.0,NaN,NaN,NaN,NaN,26201.0,1332548.0,NaN,NaN,951496.0,680895.0,491659.0,635290.0,66764.0,NaN,NaN,NaN
2013,4912059.0,NaN,NaN,NaN,NaN,NaN,4689.0,818804.0,NaN,NaN,419889.0,1191450.0,78677.0,883137.0,20057.0,NaN,NaN,NaN
2014,3153045.0,NaN,NaN,NaN,NaN,NaN,NaN,450304.0,925570.0,NaN,83891.0,1147936.0,7187.0,604856.0,7381.0,45958.0,NaN,NaN
2015,1980598.0,NaN,NaN,NaN,NaN,NaN,NaN,166343.0,1190336.0,NaN,NaN,920025.0,NaN,678131.0,NaN,17065.0,NaN,NaN
2016,1874457.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1790883.0,NaN,NaN,865002.0,NaN,336151.0,NaN,8897.0,NaN,NaN
2017,1827131.0,NaN,NaN,NaN,NaN,3407158.0,NaN,NaN,1935247.0,NaN,NaN,396207.0,NaN,21817.0,NaN,14664.0,NaN,NaN
2018,566420.0,NaN,NaN,NaN,NaN,3482388.0,NaN,NaN,1695227.0,NaN,NaN,181728.0,NaN,NaN,NaN,15339.0,NaN,NaN
2019,191173.0,NaN,NaN,NaN,NaN,4493903.0,NaN,NaN,1196153.0,NaN,NaN,37668.0,NaN,NaN,NaN,8315.0,NaN,NaN
2020,62761.0,NaN,NaN,NaN,NaN,5956943.0,NaN,NaN,542647.0,255150.0,NaN,NaN,NaN,NaN,NaN,3585.0,31424.0,NaN
2021,28540.0,NaN,NaN,NaN,NaN,5579127.0,NaN,NaN,104054.0,968185.0,NaN,NaN,NaN,NaN,NaN,NaN,97234.0,NaN
2022,10664.0,NaN,NaN,NaN,NaN,4804546.0,NaN,NaN,22823.0,1154054.0,NaN,NaN,NaN,NaN,NaN,NaN,269737.0,NaN
2023,3033.0,NaN,NaN,NaN,NaN,4062609.0,NaN,NaN,73292.0,2587468.0,NaN,NaN,NaN,NaN,NaN,NaN,141712.0,NaN
2024,162.0,NaN,NaN,NaN,NaN,3109103.0,NaN,NaN,13728.0,1454149.0,NaN,NaN,NaN,NaN,NaN,NaN,118221.0,NaN
2025,NaN,NaN,NaN,NaN,3784067.0,1520384.0,NaN,NaN,1087.0,879204.0,NaN,NaN,NaN,NaN,NaN,NaN,31226.0,NaN
2026,NaN,NaN,NaN,NaN,381347.0,73594.0,NaN,NaN,35.0,56736.0,NaN,NaN,NaN,NaN,NaN,NaN,584.0,NaN

## pivot_cumulative_sales

In [8]:
pvcs_df = g.pivot_cumulative_sales(base_df, begin=datetime(2017,1,1))
pvcs_df

hw,3DS,NS2,NSW,PS4,PS5,Vita,WiiU,XBOne,XSX
report_date,,,,,,,,,
2017-01-01,21818258.0,NaN,NaN,3999933.0,NaN,5241062.0,3140769.0,72664.0,NaN
2017-01-08,21939677.0,NaN,NaN,4089279.0,NaN,5284678.0,3144362.0,73066.0,NaN
2017-01-15,21986058.0,NaN,NaN,4138553.0,NaN,5301367.0,3145694.0,73372.0,NaN
2017-01-22,22020336.0,NaN,NaN,4174966.0,NaN,5313653.0,3146764.0,73722.0,NaN
2017-01-29,22054226.0,NaN,NaN,4219209.0,NaN,5325564.0,3147701.0,74205.0,NaN
...,...,...,...,...,...,...,...,...,...
2025-12-21,NaN,3583810.0,36383386.0,9491032.0,7278978.0,NaN,NaN,NaN,689257.0
2025-12-28,NaN,3784067.0,36416161.0,9491047.0,7298210.0,NaN,NaN,NaN,689554.0
2026-01-04,NaN,3940986.0,36439341.0,9491059.0,7321586.0,NaN,NaN,NaN,689694.0
2026-01-11,NaN,4097905.0,36462521.0,9491072.0,7344963.0,NaN,NaN,NaN,689835.0
2026-01-18,NaN,4165414.0,36489755.0,9491082.0,7354946.0,NaN,NaN,NaN,690138.0

In [9]:
pvcsm_df = g.pivot_cumulative_sales(base_df, begin=datetime(2020,1,1), full_name=True)
pvcsm_df

full_name,Nintendo 3DS,Nintendo Switch,Nintendo Switch2,PlayStation4,PlayStation5,Xbox Series X|S,XboxOne
report_date,,,,,,,
2020-01-05,24285620.0,11584013.0,NaN,8766217.0,NaN,NaN,110360.0
2020-01-12,24288107.0,11784577.0,NaN,8799019.0,NaN,NaN,110483.0
2020-01-19,24288873.0,11881035.0,NaN,8805344.0,NaN,NaN,110557.0
2020-01-26,24289591.0,11949022.0,NaN,8811674.0,NaN,NaN,110615.0
2020-02-02,24290190.0,12024944.0,NaN,8817956.0,NaN,NaN,110653.0
...,...,...,...,...,...,...,...
2025-12-21,NaN,36383386.0,3583810.0,9491032.0,7278978.0,689257.0,NaN
2025-12-28,NaN,36416161.0,3784067.0,9491047.0,7298210.0,689554.0,NaN
2026-01-04,NaN,36439341.0,3940986.0,9491059.0,7321586.0,689694.0,NaN
2026-01-11,NaN,36462521.0,4097905.0,9491072.0,7344963.0,689835.0,NaN
2026-01-18,NaN,36489755.0,4165414.0,9491082.0,7354946.0,690138.0,NaN

## pivot_sales_by_delta

In [10]:
psdw_df = g.pivot_sales_by_delta(base_df, mode='week', hw=['PS5', 'NS2', 'NSW'])
psdw_df

hw               NS2       NSW       PS5
delta_week
0           715432.0  330637.0  118085.0
1           153205.0   63420.0   42891.0
2           140026.0   50821.0   40459.0
3           161021.0   79493.0   11893.0
4           128643.0   32262.0   11056.0
...              ...       ...       ...
459              NaN   38184.0       NaN
460              NaN   32775.0       NaN
461              NaN   23180.0       NaN
462              NaN   23180.0       NaN
463              NaN   27234.0       NaN

[464 rows x 3 columns]

In [11]:
psdm_df = g.pivot_sales_by_delta(base_df, mode='month', hw=['PS5', 'NS2', 'NSW'])
psdm_df

hw                 NS2       NSW       PS5
delta_month
0            1169684.0  524371.0  201435.0
1             444706.0  234817.0   53715.0
2             319690.0  127314.0   72420.0
3             175542.0  129971.0   95289.0
4             358399.0  294311.0  157352.0
...                ...       ...       ...
102                NaN   82946.0       NaN
103                NaN   96080.0       NaN
104                NaN  138018.0       NaN
105                NaN  153619.0       NaN
106                NaN   73594.0       NaN

[107 rows x 3 columns]

In [12]:
psdy_df = g.pivot_sales_by_delta(base_df, mode='year', hw=['PS5', 'NS2', 'NSW'])
psdy_df

hw                NS2        NSW        PS5
delta_year
0           3784067.0  3407158.0   255150.0
1            381347.0  3482388.0   968185.0
2                 NaN  4493903.0  1154054.0
3                 NaN  5956943.0  2587468.0
4                 NaN  5579127.0  1454149.0
5                 NaN  4804546.0   879204.0
6                 NaN  4062609.0    56736.0
7                 NaN  3109103.0        NaN
8                 NaN  1520384.0        NaN
9                 NaN    73594.0        NaN

In [20]:
pswo_df = g.pivot_sales_with_offset(base_df,
                          hw_periods=[
                              {'hw': 'NSW', 'begin': datetime(2018,1,1)},
                              {'hw': 'NS2', 'begin': datetime(2026,1,1)},
                              ],
                          end = 15)

pswo_df

label        NS2_202601  NSW_201801
offset_week
0              156919.0    159636.0
1              156919.0     31189.0
2               67509.0     38749.0
3                   NaN     39473.0
4                   NaN     46517.0
5                   NaN     43522.0
6                   NaN     40655.0
7                   NaN     41294.0
8                   NaN     43801.0
9                   NaN     45746.0
10                  NaN     47841.0
11                  NaN     51563.0
12                  NaN     41402.0
13                  NaN     36341.0
14                  NaN     32427.0

## pivot_cumulative_sales_by_delta

In [14]:
pvcsd_df = g.pivot_cumulative_sales_by_delta(base_df, mode='week', hw=['PS5', 'NS2', 'NSW'])
pvcsd_df

hw                NS2         NSW       PS5
delta_week
0            715432.0    330637.0  118085.0
1            868637.0    394057.0  160976.0
2           1008663.0    444878.0  201435.0
3           1169684.0    524371.0  213328.0
4           1298327.0    556633.0  224384.0
...               ...         ...       ...
459               NaN  36383386.0       NaN
460               NaN  36416161.0       NaN
461               NaN  36439341.0       NaN
462               NaN  36462521.0       NaN
463               NaN  36489755.0       NaN

[464 rows x 3 columns]

## pivot_maker

In [15]:
pvmaker_df = g.pivot_maker(base_df, begin_year=2015)
pvmaker_df

maker_name  Nintendo     SONY  Microsoft
year
2015         2658729  2276704      17065
2016         2210608  2655885       8897
2017         5256106  2331454      14664
2018         4048808  1876955      15339
2019         4685076  1233821       8315
2020         6019704   797797      35009
2021         5607667  1072239      97234
2022         4815210  1176877     269737
2023         4065642  2660760     141712
2024         3109265  1467877     118221
2025         5304451   880291      31226
2026          454941    56771        584

## cumsum_diffs

In [16]:
csd_df = g.cumsum_diffs(base_df, cmplist=[('NS2', 'PS5'), ('NSW', 'PS4')])
csd_df

hw    PS5_NS2差   PS4_NSW差
0    6862029.0  4359277.0
1    6167379.0  4065277.0
2    6028303.0  4036422.0
3    5894283.0  4018033.0
4    5740595.0  3969019.0
..         ...        ...
109        NaN   122981.0
110        NaN    89985.0
111        NaN    47677.0
112        NaN    18702.0
113        NaN    -9239.0

[114 rows x 2 columns]