In [1]:

%matplotlib widget

### 累計レポート
# 標準ライブラリ
import os
from datetime import datetime, timedelta
from typing import List, Dict, Tuple, Optional, Callable

# サードパーティライブラリ
import pandas as pd
from pandas import Timedelta
import matplotlib.pyplot as plt
from matplotlib.ticker import ScalarFormatter
from IPython.display import Markdown, display

# プロジェクト内モジュール
from gamedata import hard_sales as hs
from gamedata import plot_hard as ph
from gamedata import hard_info as hi
from gamedata import hard_event as he
from gamedata import chart_hard as ch

plt.show()

# ランキングダッシュボード

## 週販ランキング

### 総合ランキング

In [2]:
ch.chart_weekly_ranking(rank_n=10)

          集計日  ハード  週間販売台数
1  2025-06-08  NS2  715432
2  2000-03-05  PS2  630552
3  2001-03-25  GBA  611504
4  2006-01-01   DS  511472
5  2005-12-25   DS  511471
6  2011-12-25  3DS  510629
7  2004-12-05   DS  441485
8  2012-12-23  3DS  433788
9  2020-03-22  NSW  392576
10 2011-12-18  3DS  387838

### Nintendo Switch週販ランキング

In [3]:
ch.chart_weekly_ranking(rank_n=-10, hw=['NSW'])

          集計日  ハード  週間販売台数
1  2025-07-20  NSW   11766
2  2025-06-22  NSW   12769
3  2025-06-15  NSW   13319
4  2025-07-13  NSW   13411
5  2025-07-27  NSW   14643
6  2025-06-29  NSW   15323
7  2025-06-08  NSW   16611
8  2025-09-21  NSW   16612
9  2025-07-06  NSW   17712
10 2025-08-24  NSW   17945

### Nintendo Switch2週販ランキング

In [7]:
ch.chart_weekly_ranking(rank_n=10, hw=['NS2'])

          集計日  ハード  週間販売台数
1  2025-06-08  NS2  715432
2  2025-10-19  NS2  201684
3  2025-06-29  NS2  161021
4  2025-06-15  NS2  153205
5  2025-07-20  NS2  152165
6  2025-06-22  NS2  140026
7  2025-07-06  NS2  128643
8  2025-11-23  NS2  126953
9  2025-11-16  NS2  101549
10 2025-11-30  NS2   97677

### PlayStation5週販ランキング

In [4]:
ch.chart_weekly_ranking(rank_n=10, hw=['PS5'])

          集計日  ハード  週間販売台数
1  2020-11-15  PS5  118085
2  2025-03-02  PS5  108978
3  2023-11-12  PS5  107953
4  2023-02-12  PS5   93574
5  2023-02-05  PS5   93026
6  2023-02-26  PS5   91729
7  2023-02-19  PS5   88653
8  2024-11-10  PS5   88160
9  2023-06-25  PS5   85385
10 2023-03-05  PS5   78412

#### PS5ワーストランキング

In [8]:
ch.chart_weekly_ranking(rank_n=-10, hw=['PS5'])

          集計日  ハード  週間販売台数
1  2021-12-12  PS5    1133
2  2023-11-05  PS5    1217
3  2021-12-05  PS5    1919
4  2022-05-15  PS5    2693
5  2022-09-11  PS5    2864
6  2023-10-29  PS5    2933
7  2022-06-19  PS5    3035
8  2021-11-21  PS5    4307
9  2021-11-14  PS5    4910
10 2022-10-09  PS5    5546

## 月間ランキング

### 総合ランキング

In [12]:
ch.chart_monthly_ranking(rank_n=10)

       年   月  ハード   月間販売台数
1   2011  12  3DS  1492931
2   2006  12   DS  1477904
3   2012  12  3DS  1427194
4   2005  12   DS  1344442
5   2025   6  NS2  1169684
6   2018  12  NSW  1158743
7   2019  12  NSW  1137642
8   2007  12   DS  1111826
9   2004  12   DS  1056428
10  2006   4   DS  1050970

### Nintendo Switch月間ランキング

In [13]:
ch.chart_monthly_ranking(rank_n=10, hw=['NSW'])

       年   月  ハード   月間販売台数
1   2018  12  NSW  1158743
2   2019  12  NSW  1137642
3   2017  12  NSW   993318
4   2020  12  NSW   975797
5   2021   1  NSW   875389
6   2020   3  NSW   836094
7   2021  12  NSW   770158
8   2020  11  NSW   666773
9   2019   9  NSW   655793
10  2022  12  NSW   647029

#### Nintendo Switch月間ワースト

In [14]:
ch.chart_monthly_ranking(rank_n=-10, hw=['NSW'])

       年   月  ハード  月間販売台数
1   2025   7  NSW   57532
2   2025   6  NSW   78097
3   2025   9  NSW   82946
4   2025   8  NSW   94517
5   2025  10  NSW   96080
6   2025   5  NSW  106506
7   2025   4  NSW  113513
8   2017   5  NSW  127314
9   2017   6  NSW  129971
10  2025  11  NSW  138018

### Nintendo Switch2月間ランキング

In [15]:
ch.chart_monthly_ranking(rank_n=10, hw=['NS2'])

      年   月  ハード   月間販売台数
1  2025   6  NS2  1169684
2  2025  11  NS2   500414
3  2025   7  NS2   444706
4  2025  10  NS2   358399
5  2025   8  NS2   319690
6  2025   9  NS2   175542

### PlayStation5月間ランキング

In [16]:
ch.chart_monthly_ranking(rank_n=10, hw=['PS5'])

       年   月  ハード  月間販売台数
1   2023   2  PS5  366982
2   2023   7  PS5  243383
3   2023   1  PS5  234329
4   2023  11  PS5  231317
5   2023   3  PS5  222656
6   2023   4  PS5  219646
7   2025   3  PS5  218300
8   2023   6  PS5  215521
9   2023  12  PS5  212371
10  2020  11  PS5  201435

#### PlayStation5月間ワースト

In [17]:
ch.chart_monthly_ranking(rank_n=-10, hw=['PS5'])

       年   月  ハード  月間販売台数
1   2021  11  PS5   28324
2   2025   7  PS5   28959
3   2025   5  PS5   32001
4   2021  12  PS5   37103
5   2025   4  PS5   38983
6   2025   8  PS5   39004
7   2024  10  PS5   47615
8   2022   6  PS5   53239
9   2020  12  PS5   53715
10  2025   2  PS5   56886

## 年間ランキング

### 総合年間ランキング

In [10]:
ch.chart_yearly_ranking(rank_n=10)

       年  ハード   年間販売台数
1   2006   DS  8966021
2   2007   DS  7202068
3   2020  NSW  5956943
4   2012  3DS  5646213
5   2021  NSW  5579127
6   2013  3DS  4912059
7   2022  NSW  4804546
8   2019  NSW  4493903
9   2001  GBA  4245686
10  2011  3DS  4132038

#### 総合メーカーランキング

In [18]:
ch.chart_yearly_ranking(rank_n=10, maker=['Nintendo', 'SONY', 'Microsoft', 'SEGA', 'BANDAI', 'SNK'])

       年      メーカー    年間販売台数
1   2007  Nintendo  10952070
2   2006  Nintendo  10506980
3   2008  Nintendo   6829959
4   2012  Nintendo   6800824
5   2020  Nintendo   6019704
6   2009  Nintendo   5970423
7   2013  Nintendo   5873873
8   2001  Nintendo   5776430
9   2011  Nintendo   5653953
10  2021  Nintendo   5607667

#### 任天堂年間ワースト

In [24]:
ch.chart_yearly_ranking(rank_n=-5, maker=['Nintendo'], begin=datetime(2000, 1, 1))

      年      メーカー   年間販売台数
1  2016  Nintendo  2210608
2  2000  Nintendo  2345151
3  2015  Nintendo  2658729
4  2024  Nintendo  3109265
5  2014  Nintendo  3765088

### SONY年間ランキング

In [19]:
ch.chart_yearly_ranking(rank_n=10, maker=['SONY'])

       年  メーカー   年間販売台数
1   2007  SONY  5073567
2   2008  SONY  5024167
3   2000  SONY  4693358
4   1999  SONY  4651903
5   2005  SONY  4296282
6   2010  SONY  4295208
7   2009  SONY  4282280
8   2006  SONY  3990548
9   2002  SONY  3960503
10  2011  SONY  3763580

#### SONY年間ワースト

In [23]:
ch.chart_yearly_ranking(rank_n=-5, maker=['SONY'], begin=datetime(2000, 1, 1))

      年  メーカー   年間販売台数
1  2025  SONY   797540
2  2020  SONY   797797
3  2021  SONY  1072239
4  2022  SONY  1176877
5  2019  SONY  1233821