In [2]:

%matplotlib widget

### 累計レポート
# 標準ライブラリ
import os
from datetime import datetime, timedelta
from typing import List, Dict, Tuple, Optional, Callable

# サードパーティライブラリ
import pandas as pd
from pandas import Timedelta
import matplotlib.pyplot as plt
from matplotlib.ticker import ScalarFormatter
from IPython.display import Markdown, display

# プロジェクト内モジュール
from gamedata import hard_sales as hs
from gamedata import plot_hard as ph
from gamedata import hard_info as hi
from gamedata import hard_event as he
from gamedata import chart_hard as ch

plt.show()

df_all = hs.load_hard_sales()

In [17]:
def chart_reached_unit(n:int) -> pd.DataFrame:
    df = hs.load_hard_sales()
    d2 = hs.extract_week_reached_units(df, n).sort_values('delta_week', ascending=True).head(10)
    d3 = d2[['report_date', 'hw', 'delta_week', 'sum_units']].copy()
    d3 = d3.copy().assign(delta_week=lambda x: x['delta_week'] + 1)
    d3.reset_index(drop=True, inplace=True)
    d3.index += 1
    return d3

# 普及速度ダッシュボード

## 100万台

In [18]:
chart_reached_unit(1_000_000)

   report_date   hw  delta_week  sum_units
1   2001-04-08  GBA           3    1132611
2   2025-06-22  NS2           3    1008663
3   2004-12-26   DS           4    1056428
4   2000-04-02  PS2           5    1134882
5   2007-01-07  Wii           6    1135671
6   2011-05-22  3DS          13    1008237
7   2005-03-13  PSP          14    1002827
8   2017-06-25  NSW          17    1016473
9   2002-01-06   GC          17    1064457
10  1999-07-18  PKS          26    1044582

## 200万台

In [19]:
chart_reached_unit(2_000_000)

   report_date   hw  delta_week  sum_units
1   2001-06-17  GBA          13    2043244
2   2025-09-14  NS2          15    2024761
3   2000-06-25  PS2          17    2008755
4   2007-04-08  Wii          19    2038951
5   2005-05-01   DS          22    2037178
6   2011-10-09  3DS          33    2024869
7   2017-10-29  NSW          35    2041221
8   1999-10-10  PKS          38    2051852
9   2005-11-06  PSP          48    2003979
10  2003-01-05   GC          69    2032355

## 300万台

In [20]:
chart_reached_unit(3_000_000)

   report_date   hw  delta_week  sum_units
1   2001-09-09  GBA          25    3051291
2   2007-07-15  Wii          33    3014828
3   2011-12-11  3DS          42    3233571
4   2005-09-18   DS          42    3015412
5   2000-12-17  PS2          42    3005742
6   2017-12-24  NSW          43    3291903
7   2000-01-23  PKS          53    3011335
8   2006-02-26  PSP          64    3021494
9   2004-01-04   GC         121    3115532
10  2023-03-05  PS5         121    3057112

## 400万台

In [21]:
chart_reached_unit(4_000_000)

   report_date   hw  delta_week  sum_units
1   2001-12-30  GBA          41    4245686
2   2011-12-25  3DS          44    4132038
3   2005-12-11   DS          54    4102277
4   2007-12-09  Wii          54    4025012
5   2018-03-25  NSW          56    4037144
6   2001-06-03  PS2          66    4019182
7   2006-09-24  PSP          94    4006979
8   2023-07-30  PS5         142    4046566
9   2017-01-08  PS4         151    4089279
10  2009-12-13  PS3         162    4020563

## 500万台

## 600万台

## 700万台

## 1000万台