In [1]:
from gamedata import hard_sales as hs
from gamedata import hard_event as he
from typing import Optional, List
import pandas as pd
from datetime import datetime, timedelta

hard_sales_df = hs.load_hard_sales()
hard_event_df = he.load_hard_event()

In [2]:
hard_event_df

            event_date   hw  hw2              event_name  priority
report_date
2025-01-19  2025-01-16  NS2  NSW              Switch2初公開         2
2025-03-02  2025-02-28  PS5                       MHWs発売         1
2025-03-30  2025-03-27  NSW              Nintendo Direct         3
2025-04-06  2025-04-02  NS2  NSW          Switch2 Direct         1
2025-06-01  2025-05-28  PS5       PS5 Days of Playキャンペーン         1
2025-06-08  2025-06-05  NS2                    Switch2発売         1
2025-07-20  2025-07-17  NS2                       バナンザ発売         2
2025-08-31  2025-08-27  PS5                       PS5値上げ         1

In [3]:
f1 = he.filter_event(hard_event_df, start_date=datetime(2025, 2, 1), hw = ['PS5', 'NSW'], priority=3)

f1

            event_date   hw  hw2              event_name  priority
report_date
2025-03-02  2025-02-28  PS5                       MHWs発売         1
2025-03-30  2025-03-27  NSW              Nintendo Direct         3
2025-04-06  2025-04-02  NS2  NSW          Switch2 Direct         1
2025-06-01  2025-05-28  PS5       PS5 Days of Playキャンペーン         1
2025-08-31  2025-08-27  PS5                       PS5値上げ         1

In [14]:
pivot_df = hs.pivot_sales(hard_sales_df, hw=['PS5', 'NS2'])

pivot_df

hw                NS2       PS5
report_date
2020-11-15        NaN  118085.0
2020-11-22        NaN   42891.0
2020-11-29        NaN   40459.0
2020-12-06        NaN   11893.0
2020-12-13        NaN   11056.0
...               ...       ...
2025-07-20   152165.0    6148.0
2025-07-27    92013.0    6920.0
2025-08-03    62733.0    7141.0
2025-08-10    89820.0    8565.0
2025-08-17    89821.0    8566.0

[249 rows x 2 columns]

In [15]:
event_df2 = he.add_event_positions(hard_event_df, pivot_df, priority=3)

In [16]:
event_df2

,event_date,hw,hw2,event_name,priority,x_pos,y_pos
report_date,,,,,,,
2025-03-02,2025-02-28,PS5,,MHWs発売,1,2025-02-28,108978.0
2025-06-01,2025-05-28,PS5,,PS5 Days of Playキャンペーン,1,2025-05-28,15266.0
2025-06-08,2025-06-05,NS2,,Switch2発売,1,2025-06-05,715432.0
2025-07-20,2025-07-17,NS2,,バナンザ発売,2,2025-07-17,152165.0