In [1]:
from gamedata import hard_sales as hs
from typing import Optional, List
import pandas as pd
from datetime import datetime, timedelta

In [2]:
hard_sales_df = hs.load_hard_sales()
hs.get_hw_names(hard_sales_df)


hard_sales_df = hard_sales_df[hard_sales_df['hw'].isin(['NSW', 'NS2', 'PS5', 'PS4', "XSX"])]
# hard_sales_dfの最後から20行程度を表示する
hard_sales_df[hard_sales_df['hw'] == "NS2"]

,weekly_id,begin_date,end_date,report_date,period_date,hw,units,year,month,mday,week,delta_day,delta_week,delta_month,delta_year,avg_units,sum_units,launch_date,maker_name,full_name
8404,2025-06-08_NS2,2025-06-02,2025-06-08,2025-06-08,7,NS2,715432,2025,6,8,23,3,0,0,0,102204,715432,2025-06-05,Nintendo,Nintendo Switch2
8409,2025-06-15_NS2,2025-06-09,2025-06-15,2025-06-15,7,NS2,153205,2025,6,15,24,10,1,0,0,21886,868637,2025-06-05,Nintendo,Nintendo Switch2
8414,2025-06-22_NS2,2025-06-16,2025-06-22,2025-06-22,7,NS2,140026,2025,6,22,25,17,2,0,0,20003,1008663,2025-06-05,Nintendo,Nintendo Switch2
8419,2025-06-29_NS2,2025-06-23,2025-06-29,2025-06-29,7,NS2,161021,2025,6,29,26,24,3,0,0,23003,1169684,2025-06-05,Nintendo,Nintendo Switch2
8424,2025-07-06_NS2,2025-06-30,2025-07-06,2025-07-06,7,NS2,128643,2025,7,6,27,31,4,1,0,18377,1298327,2025-06-05,Nintendo,Nintendo Switch2
8429,2025-07-13_NS2,2025-07-07,2025-07-13,2025-07-13,7,NS2,71885,2025,7,13,28,38,5,1,0,10269,1370212,2025-06-05,Nintendo,Nintendo Switch2
8434,2025-07-20_NS2,2025-07-14,2025-07-20,2025-07-20,7,NS2,152165,2025,7,20,29,45,6,1,0,21737,1522377,2025-06-05,Nintendo,Nintendo Switch2
8439,2025-07-27_NS2,2025-07-21,2025-07-27,2025-07-27,7,NS2,92013,2025,7,27,30,52,7,1,0,13144,1614390,2025-06-05,Nintendo,Nintendo Switch2
8444,2025-08-03_NS2,2025-07-28,2025-08-03,2025-08-03,7,NS2,62733,2025,8,3,31,59,8,2,0,8961,1677123,2025-06-05,Nintendo,Nintendo Switch2

In [3]:
latest_df = hs.extract_latest(hard_sales_df)
latest_df

,weekly_id,begin_date,end_date,report_date,period_date,hw,units,year,month,mday,week,delta_day,delta_week,delta_month,delta_year,avg_units,sum_units,launch_date,maker_name,full_name
8444,2025-08-03_NS2,2025-07-28,2025-08-03,2025-08-03,7,NS2,62733,2025,8,3,31,59,8,2,0,8961,1677123,2025-06-05,Nintendo,Nintendo Switch2
8445,2025-08-03_NSW,2025-07-28,2025-08-03,2025-08-03,7,NSW,18637,2025,8,3,31,3075,439,101,8,2662,35869618,2017-03-03,Nintendo,Nintendo Switch
8446,2025-08-03_PS4,2025-07-28,2025-08-03,2025-08-03,7,PS4,19,2025,8,3,31,4180,597,138,11,2,9490707,2014-02-22,SONY,PlayStation4
8447,2025-08-03_PS5,2025-07-28,2025-08-03,2025-08-03,7,PS5,7141,2025,8,3,31,1725,246,57,5,1020,6946379,2020-11-12,SONY,PlayStation5
8448,2025-08-03_XSX,2025-07-28,2025-08-03,2025-08-03,7,XSX,271,2025,8,3,31,1727,246,57,5,38,682066,2020-11-10,Microsoft,Xbox Series X|S

In [4]:
filtered_df = hs.extract_by_date(hard_sales_df, '2025-06-05')
filtered_df

,weekly_id,begin_date,end_date,report_date,period_date,hw,units,year,month,mday,week,delta_day,delta_week,delta_month,delta_year,avg_units,sum_units,launch_date,maker_name,full_name
8404,2025-06-08_NS2,2025-06-02,2025-06-08,2025-06-08,7,NS2,715432,2025,6,8,23,3,0,0,0,102204,715432,2025-06-05,Nintendo,Nintendo Switch2
8405,2025-06-08_NSW,2025-06-02,2025-06-08,2025-06-08,7,NSW,16611,2025,6,8,23,3019,431,99,8,2373,35752038,2017-03-03,Nintendo,Nintendo Switch
8406,2025-06-08_PS4,2025-06-02,2025-06-08,2025-06-08,7,PS4,24,2025,6,8,23,4124,589,136,11,3,9490524,2014-02-22,SONY,PlayStation4
8407,2025-06-08_PS5,2025-06-02,2025-06-08,2025-06-08,7,PS5,20782,2025,6,8,23,1669,238,55,5,2968,6882811,2020-11-12,SONY,PlayStation5
8408,2025-06-08_XSX,2025-06-02,2025-06-08,2025-06-08,7,XSX,333,2025,6,8,23,1671,238,55,5,47,679793,2020-11-10,Microsoft,Xbox Series X|S

In [5]:
df1M = hs.extract_week_reached_units(hard_sales_df, 1500000)
df1M

,weekly_id,begin_date,end_date,report_date,period_date,hw,units,year,month,mday,week,delta_day,delta_week,delta_month,delta_year,avg_units,sum_units,launch_date,maker_name,full_name
8434,2025-07-20_NS2,2025-07-14,2025-07-20,2025-07-20,7,NS2,152165,2025,7,20,29,45,6,1,0,21737,1522377,2025-06-05,Nintendo,Nintendo Switch2
6455,2017-08-27_NSW,2017-08-21,2017-08-27,2017-08-27,7,NSW,85503,2017,8,27,34,177,25,5,0,12214,1565273,2017-03-03,Nintendo,Nintendo Switch
5871,2015-08-02_PS4,2015-07-27,2015-08-02,2015-08-02,7,PS4,13192,2015,8,2,31,526,75,18,1,1884,1508068,2014-02-22,SONY,PlayStation4
7638,2022-04-03_PS5,2022-03-28,2022-04-03,2022-04-03,7,PS5,30666,2022,4,3,13,507,72,17,2,4380,1528183,2020-11-12,SONY,PlayStation5

In [6]:
# 昨年のデータ
last_year_df = hard_sales_df[hard_sales_df["year"] == 2024]
last_year_df

,weekly_id,begin_date,end_date,report_date,period_date,hw,units,year,month,mday,week,delta_day,delta_week,delta_month,delta_year,avg_units,sum_units,launch_date,maker_name,full_name
8096,2024-01-07_NSW,2024-01-01,2024-01-07,2024-01-07,7,NSW,104551,2024,1,7,1,2501,357,82,7,14935,31891225,2017-03-03,Nintendo,Nintendo Switch
8097,2024-01-07_PS4,2024-01-01,2024-01-07,2024-01-07,7,PS4,737,2024,1,7,1,3606,515,119,10,105,9476969,2014-02-22,SONY,PlayStation4
8098,2024-01-07_PS5,2024-01-01,2024-01-07,2024-01-07,7,PS5,41126,2024,1,7,1,1151,164,38,4,5875,5005983,2020-11-12,SONY,PlayStation5
8099,2024-01-07_XSX,2024-01-01,2024-01-07,2024-01-07,7,XSX,1324,2024,1,7,1,1153,164,38,4,189,541431,2020-11-10,Microsoft,Xbox Series X|S
8101,2024-01-14_NSW,2024-01-08,2024-01-14,2024-01-14,7,NSW,46604,2024,1,14,2,2508,358,82,7,6657,31937829,2017-03-03,Nintendo,Nintendo Switch
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8311,2024-12-22_XSX,2024-12-16,2024-12-22,2024-12-22,7,XSX,3389,2024,12,22,51,1503,214,49,4,484,657167,2020-11-10,Microsoft,Xbox Series X|S
8312,2024-12-29_NSW,2024-12-23,2024-12-29,2024-12-29,7,NSW,76548,2024,12,29,52,2858,408,93,7,10935,34895777,2017-03-03,Nintendo,Nintendo Switch
8313,2024-12-29_PS4,2024-12-23,2024-12-29,2024-12-29,7,PS4,37,2024,12,29,52,3963,566,130,10,5,9489960,2014-02-22,SONY,PlayStation4
8314,2024-12-29_PS5,2024-12-23,2024-12-29,2024-12-29,7,PS5,27130,2024,12,29,52,1508,215,49,4,3875,6419006,2020-11-12,SONY,PlayStation5
8315,2024-12-29_XSX,2024-12-23,2024-12-29,2024-12-29,7,XSX,1161,2024,12,29,52,1510,215,49,4,165,658328,2020-11-10,Microsoft,Xbox Series X|S

In [7]:
nintendo_df = hard_sales_df[hard_sales_df["maker_name"].isin(['Nintendo'])]
nintendo_df.tail(20)

,weekly_id,begin_date,end_date,report_date,period_date,hw,units,year,month,mday,week,delta_day,delta_week,delta_month,delta_year,avg_units,sum_units,launch_date,maker_name,full_name
8396,2025-05-25_NSW,2025-05-19,2025-05-25,2025-05-25,7,NSW,24289,2025,5,25,21,3005,429,98,8,3469,35715352,2017-03-03,Nintendo,Nintendo Switch
8400,2025-06-01_NSW,2025-05-26,2025-06-01,2025-06-01,7,NSW,20075,2025,6,1,22,3012,430,99,8,2867,35735427,2017-03-03,Nintendo,Nintendo Switch
8404,2025-06-08_NS2,2025-06-02,2025-06-08,2025-06-08,7,NS2,715432,2025,6,8,23,3,0,0,0,102204,715432,2025-06-05,Nintendo,Nintendo Switch2
8405,2025-06-08_NSW,2025-06-02,2025-06-08,2025-06-08,7,NSW,16611,2025,6,8,23,3019,431,99,8,2373,35752038,2017-03-03,Nintendo,Nintendo Switch
8409,2025-06-15_NS2,2025-06-09,2025-06-15,2025-06-15,7,NS2,153205,2025,6,15,24,10,1,0,0,21886,868637,2025-06-05,Nintendo,Nintendo Switch2
8410,2025-06-15_NSW,2025-06-09,2025-06-15,2025-06-15,7,NSW,13319,2025,6,15,24,3026,432,99,8,1902,35765357,2017-03-03,Nintendo,Nintendo Switch
8414,2025-06-22_NS2,2025-06-16,2025-06-22,2025-06-22,7,NS2,140026,2025,6,22,25,17,2,0,0,20003,1008663,2025-06-05,Nintendo,Nintendo Switch2
8415,2025-06-22_NSW,2025-06-16,2025-06-22,2025-06-22,7,NSW,12769,2025,6,22,25,3033,433,99,8,1824,35778126,2017-03-03,Nintendo,Nintendo Switch
8419,2025-06-29_NS2,2025-06-23,2025-06-29,2025-06-29,7,NS2,161021,2025,6,29,26,24,3,0,0,23003,1169684,2025-06-05,Nintendo,Nintendo Switch2
8420,2025-06-29_NSW,2025-06-23,2025-06-29,2025-06-29,7,NSW,15323,2025,6,29,26,3040,434,99,8,2189,35793449,2017-03-03,Nintendo,Nintendo Switch
8424,2025-07-06_NS2,2025-06-30,2025-07-06,2025-07-06,7,NS2,128643,2025,7,6,27,31,4,1,0,18377,1298327,2025-06-05,Nintendo,Nintendo Switch2
8425,2025-07-06_NSW,2025-06-30,2025-07-06,2025-07-06,7,NSW,17712,2025,7,6,27,3047,435,100,8,2530,35811161,2017-03-03,Nintendo,Nintendo Switch
8429,2025-07-13_NS2,2025-07-07,2025-07-13,2025-07-13,7,NS2,71885,2025,7,13,28,38,5,1,0,10269,1370212,2025-06-05,Nintendo,Nintendo Switch2
8430,2025-07-13_NSW,2025-07-07,2025-07-13,2025-07-13,7,NSW,13411,2025,7,13,28,3054,436,100,8,1915,35824572,2017-03-03,Nintendo,Nintendo Switch
8434,2025-07-20_NS2,2025-07-14,2025-07-20,2025-07-20,7,NS2,152165,2025,7,20,29,45,6,1,0,21737,1522377,2025-06-05,Nintendo,Nintendo Switch2
8435,2025-07-20_NSW,2025-07-14,2025-07-20,2025-07-20,7,NSW,11766,2025,7,20,29,3061,437,100,8,1680,35836338,2017-03-03,Nintendo,Nintendo Switch
8439,2025-07-27_NS2,2025-07-21,2025-07-27,2025-07-27,7,NS2,92013,2025,7,27,30,52,7,1,0,13144,1614390,2025-06-05,Nintendo,Nintendo Switch2
8440,2025-07-27_NSW,2025-07-21,2025-07-27,2025-07-27,7,NSW,14643,2025,7,27,30,3068,438,100,8,2091,35850981,2017-03-03,Nintendo,Nintendo Switch
8444,2025-08-03_NS2,2025-07-28,2025-08-03,2025-08-03,7,NS2,62733,2025,8,3,31,59,8,2,0,8961,1677123,2025-06-05,Nintendo,Nintendo Switch2
8445,2025-08-03_NSW,2025-07-28,2025-08-03,2025-08-03,7,NSW,18637,2025,8,3,31,3075,439,101,8,2662,35869618,2017-03-03,Nintendo,Nintendo Switch

In [ ]:
# switch_dfを月毎に集計する
switch_monthly_sales = hs.monthly_sales(switch_df)
# 月毎のNintendo Switch*の販売台数を表示する
switch_monthly_sales.tail(20)

NameError: name 'switch_df' is not defined