In [1]:
# 標準ライブラリ
from datetime import datetime, timedelta

# サードパーティライブラリ
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.ticker import ScalarFormatter

# プロジェクト内モジュール
from gamedata import hard_sales as hs

In [2]:
hard_sales_df = hs.load_hard_sales(normalize7=True)
hard_sales_df

,weekly_id,begin_date,end_date,report_date,period_date,hw,units,year,month,mday,week,delta_day,delta_week,delta_month,delta_year,avg_units,sum_units,launch_date,maker_name,full_name
0,1998-10-18_GB,1998-10-12,1998-10-18,1998-10-18,7,GB,10867,1998,10,18,42,3467,495,114,9,1552,10867,1989-04-21,Nintendo,GAME BOY
1,1998-10-18_N64,1998-10-12,1998-10-18,1998-10-18,7,N64,2965,1998,10,18,42,847,121,28,2,423,2965,1996-06-23,Nintendo,NINTENDO64
2,1998-10-18_PS,1998-10-12,1998-10-18,1998-10-18,7,PS,20918,1998,10,18,42,1415,202,46,4,2988,20918,1994-12-03,SONY,PlayStation
3,1998-10-18_SATURN,1998-10-12,1998-10-18,1998-10-18,7,SATURN,858,1998,10,18,42,1426,203,47,4,122,858,1994-11-22,SEGA,SEGA SATURN
4,1998-10-25_GB,1998-10-19,1998-10-25,1998-10-25,7,GB,163017,1998,10,25,43,3474,496,114,9,23288,173884,1989-04-21,Nintendo,GAME BOY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8439,2025-07-27_NS2,2025-07-21,2025-07-27,2025-07-27,7,NS2,92013,2025,7,27,30,52,7,1,0,13144,1846889,2025-06-05,Nintendo,Nintendo Switch2
8440,2025-07-27_NSW,2025-07-21,2025-07-27,2025-07-27,7,NSW,14643,2025,7,27,30,3068,438,100,8,2091,35850981,2017-03-03,Nintendo,Nintendo Switch
8441,2025-07-27_PS4,2025-07-21,2025-07-27,2025-07-27,7,PS4,18,2025,7,27,30,4173,596,137,11,2,9490688,2014-02-22,SONY,PlayStation4
8442,2025-07-27_PS5,2025-07-21,2025-07-27,2025-07-27,7,PS5,6920,2025,7,27,30,1718,245,56,5,988,6939238,2020-11-12,SONY,PlayStation5
8443,2025-07-27_XSX,2025-07-21,2025-07-27,2025-07-27,7,XSX,271,2025,7,27,30,1720,245,56,5,38,681795,2020-11-10,Microsoft,Xbox Series X|S

In [3]:
maker_df = hs.pivot_maker(hard_sales_df)
maker_df

maker_name   BANDAI  Microsoft  Nintendo    SEGA      SNK     SONY
report_date
1998-10-18      NaN        NaN   13832.0   858.0      NaN  20918.0
1998-10-25      NaN        NaN  166830.0  1061.0      NaN  21151.0
1998-11-01      NaN        NaN   75466.0  1027.0  21471.0  20128.0
1998-11-08      NaN        NaN   57548.0   824.0   4688.0  27171.0
1998-11-15      NaN        NaN   42699.0  1144.0   3165.0  23575.0
...             ...        ...       ...     ...      ...      ...
2025-06-29      NaN      353.0  176344.0     NaN      NaN   7356.0
2025-07-06      NaN      529.0  146355.0     NaN      NaN   8650.0
2025-07-13      NaN      247.0   85296.0     NaN      NaN   7292.0
2025-07-20      NaN      150.0  163931.0     NaN      NaN   6170.0
2025-07-27      NaN      271.0  106656.0     NaN      NaN   6938.0

[1398 rows x 6 columns]

In [4]:
maker_df.index

DatetimeIndex(['1998-10-18', '1998-10-25', '1998-11-01', '1998-11-08',
               '1998-11-15', '1998-11-22', '1998-11-29', '1998-12-06',
               '1998-12-13', '1998-12-20',
               ...
               '2025-05-25', '2025-06-01', '2025-06-08', '2025-06-15',
               '2025-06-22', '2025-06-29', '2025-07-06', '2025-07-13',
               '2025-07-20', '2025-07-27'],
              dtype='datetime64[ns]', name='report_date', length=1398, freq=None)

In [5]:
maker_df.resample('M').sum()

maker_name   BANDAI  Microsoft   Nintendo      SEGA      SNK      SONY
report_date
1998-10-31      0.0        0.0   180662.0    1919.0      0.0   42069.0
1998-11-30      0.0        0.0   367056.0  105013.0  32963.0  115308.0
1998-12-31      0.0        0.0   906693.0  168605.0   7675.0  332964.0
1999-01-31      0.0        0.0   697654.0  183316.0   8430.0  445727.0
1999-02-28      0.0        0.0   224611.0   73444.0   2819.0  487327.0
...             ...        ...        ...       ...      ...       ...
2025-03-31      0.0     2081.0   171921.0       0.0      0.0  218412.0
2025-04-30      0.0     1710.0   113513.0       0.0      0.0   39065.0
2025-05-31      0.0     3467.0   106506.0       0.0      0.0   32109.0
2025-06-30      0.0     1400.0  1480280.0       0.0      0.0   63640.0
2025-07-31      0.0     1197.0   502238.0       0.0      0.0   29050.0

[322 rows x 6 columns]

In [6]:
maker_df.resample('Y').sum()

maker_name     BANDAI  Microsoft    Nintendo      SEGA       SNK       SONY
report_date
1998-12-31        0.0        0.0   1454411.0  275537.0   40638.0   490341.0
1999-12-31   684517.0        0.0   3347393.0  968639.0  141736.0  4651903.0
2000-12-31   508263.0        0.0   2345151.0  397661.0  117929.0  4693358.0
2001-12-31   298348.0        0.0   5776430.0  287247.0   14968.0  3701766.0
2002-12-31   220300.0   329584.0   4504070.0    4966.0       0.0  3960503.0
2003-12-31    46366.0    95226.0   4613243.0       0.0       0.0  3050841.0
2004-12-31      600.0    34932.0   4227133.0       0.0       0.0  3109689.0
2005-12-31        0.0    97300.0   5495825.0       0.0       0.0  4296282.0
2006-12-31        0.0   205977.0  10506980.0       0.0       0.0  3990548.0
2007-12-31        0.0   259693.0  10952070.0       0.0       0.0  5073567.0
2008-12-31        0.0   318921.0   6829959.0       0.0       0.0  5024167.0
2009-12-31        0.0   328348.0   5970423.0       0.0       0.0  4282280.0
2010-12-31        0.0   200872.0   4437242.0       0.0       0.0  4295208.0
2011-12-31        0.0   110034.0   5653953.0       0.0       0.0  3763580.0
2012-12-31        0.0    66764.0   6800824.0       0.0       0.0  2991140.0
2013-12-31        0.0    20057.0   5873873.0       0.0       0.0  2434832.0
2014-12-31        0.0    53339.0   3765088.0       0.0       0.0  2607701.0
2015-12-31        0.0    17065.0   2658729.0       0.0       0.0  2276704.0
2016-12-31        0.0     8897.0   2210608.0       0.0       0.0  2655885.0
2017-12-31        0.0    14664.0   5256106.0       0.0       0.0  2331454.0
2018-12-31        0.0    15339.0   4048808.0       0.0       0.0  1876955.0
2019-12-31        0.0     8315.0   4685076.0       0.0       0.0  1233821.0
2020-12-31        0.0    35009.0   6019704.0       0.0       0.0   797797.0
2021-12-31        0.0    97234.0   5607667.0       0.0       0.0  1072239.0
2022-12-31        0.0   269737.0   4815210.0       0.0       0.0  1176877.0
2023-12-31        0.0   141712.0   4065642.0       0.0       0.0  2660760.0
2024-12-31        0.0   118221.0   3109265.0       0.0       0.0  1467877.0
2025-12-31        0.0    23467.0   2802093.0       0.0       0.0   520960.0

In [14]:
handheld_df = hs.pivot_maker(hard_sales_df, hw=['GB', 'GBA', 'DS', '3DS', 'NSW', 'NS2', 
                                                'PSP', 'Vita',
                                                'WS', 'NeoGeoP'])
handheld_df.resample('Y').sum()

maker_name     BANDAI   Nintendo       SNK       SONY
report_date
1998-12-31        0.0  1058864.0   40638.0        0.0
1999-12-31   684517.0  2606884.0  141736.0        0.0
2000-12-31   508263.0  2077410.0  117929.0        0.0
2001-12-31   298348.0  4774048.0   14968.0        0.0
2002-12-31   220300.0  3467665.0       0.0        0.0
2003-12-31    46366.0  3600549.0       0.0        0.0
2004-12-31      600.0  3609350.0       0.0   349283.0
2005-12-31        0.0  5190930.0       0.0  2194008.0
2006-12-31        0.0  9417066.0       0.0  1969363.0
2007-12-31        0.0  7276358.0       0.0  3038311.0
2008-12-31        0.0  3972678.0       0.0  3552105.0
2009-12-31        0.0  4013845.0       0.0  2305627.0
2010-12-31        0.0  2785954.0       0.0  2704976.0
2011-12-31        0.0  4780547.0       0.0  2292600.0
2012-12-31        0.0  5673875.0       0.0  1632391.0
2013-12-31        0.0  4912059.0       0.0  1611339.0
2014-12-31        0.0  3153045.0       0.0  1231827.0
2015-12-31        0.0  1980598.0       0.0   920025.0
2016-12-31        0.0  1874457.0       0.0   865002.0
2017-12-31        0.0  5234289.0       0.0   396207.0
2018-12-31        0.0  4048808.0       0.0   181728.0
2019-12-31        0.0  4685076.0       0.0    37668.0
2020-12-31        0.0  6019704.0       0.0        0.0
2021-12-31        0.0  5607667.0       0.0        0.0
2022-12-31        0.0  4815210.0       0.0        0.0
2023-12-31        0.0  4065642.0       0.0        0.0
2024-12-31        0.0  3109265.0       0.0        0.0
2025-12-31        0.0  2802093.0       0.0        0.0

In [12]:
console_df = hs.pivot_maker(hard_sales_df, hw=['PS', 'PS2', 'PS3', 'PS4', 'PS5', 
                                               'Xbox', 'XB360', 'XBOne', 'XSX', 
                                               'N64', 'GC', 'Wii', 'WiiU', 'NSW', 'NS2',
                                               'SATURN', 'DC'])
console_df.resample('Y').sum()

maker_name   Microsoft   Nintendo      SEGA       SONY
report_date
1998-12-31         0.0   395547.0  275537.0   490341.0
1999-12-31         0.0   740509.0  968639.0  1928146.0
2000-12-31         0.0   267741.0  397661.0  3710707.0
2001-12-31         0.0  1002382.0  287247.0  3529117.0
2002-12-31    329584.0  1036405.0    4966.0  3960503.0
2003-12-31     95226.0  1012694.0       0.0  3050841.0
2004-12-31     34932.0   617783.0       0.0  2760406.0
2005-12-31     97300.0   304895.0       0.0  2102274.0
2006-12-31    205977.0  1089914.0       0.0  2021185.0
2007-12-31    259693.0  3675712.0       0.0  2035256.0
2008-12-31    318921.0  2857281.0       0.0  1472062.0
2009-12-31    328348.0  1956578.0       0.0  1976653.0
2010-12-31    200872.0  1651288.0       0.0  1590232.0
2011-12-31    110034.0   873406.0       0.0  1470980.0
2012-12-31     66764.0  1126949.0       0.0  1358749.0
2013-12-31     20057.0   961814.0       0.0   823493.0
2014-12-31     53339.0   612043.0       0.0  1375874.0
2015-12-31     17065.0   678131.0       0.0  1356679.0
2016-12-31      8897.0   336151.0       0.0  1790883.0
2017-12-31     14664.0  3428975.0       0.0  1935247.0
2018-12-31     15339.0  3482388.0       0.0  1695227.0
2019-12-31      8315.0  4493903.0       0.0  1196153.0
2020-12-31     35009.0  5956943.0       0.0   797797.0
2021-12-31     97234.0  5579127.0       0.0  1072239.0
2022-12-31    269737.0  4804546.0       0.0  1176877.0
2023-12-31    141712.0  4062609.0       0.0  2660760.0
2024-12-31    118221.0  3109103.0       0.0  1467877.0
2025-12-31     23467.0  2802093.0       0.0   520960.0

In [12]:
active_makers = ['Nintendo', 'SONY', 'Microsoft']
active_sales_df = hard_sales_df[hard_sales_df['maker_name'].isin(active_makers)]
active_sales_df

,weekly_id,begin_date,end_date,report_date,period_date,hw,units,year,month,mday,week,delta_day,delta_week,delta_month,delta_year,avg_units,sum_units,launch_date,maker_name,full_name
0,1998-10-18_GB,1998-10-12,1998-10-18,1998-10-18,7,GB,10867,1998,10,18,42,3467,495,114,9,1552,10867,1989-04-21,Nintendo,GAME BOY
1,1998-10-18_N64,1998-10-12,1998-10-18,1998-10-18,7,N64,2965,1998,10,18,42,847,121,28,2,423,2965,1996-06-23,Nintendo,NINTENDO64
2,1998-10-18_PS,1998-10-12,1998-10-18,1998-10-18,7,PS,20918,1998,10,18,42,1415,202,46,4,2988,20918,1994-12-03,SONY,PlayStation
4,1998-10-25_GB,1998-10-19,1998-10-25,1998-10-25,7,GB,163017,1998,10,25,43,3474,496,114,9,23288,173884,1989-04-21,Nintendo,GAME BOY
5,1998-10-25_N64,1998-10-19,1998-10-25,1998-10-25,7,N64,3813,1998,10,25,43,854,122,28,2,544,6778,1996-06-23,Nintendo,NINTENDO64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8439,2025-07-27_NS2,2025-07-21,2025-07-27,2025-07-27,7,NS2,92013,2025,7,27,30,52,7,1,0,13144,1846889,2025-06-05,Nintendo,Nintendo Switch2
8440,2025-07-27_NSW,2025-07-21,2025-07-27,2025-07-27,7,NSW,14643,2025,7,27,30,3068,438,100,8,2091,35850981,2017-03-03,Nintendo,Nintendo Switch
8441,2025-07-27_PS4,2025-07-21,2025-07-27,2025-07-27,7,PS4,18,2025,7,27,30,4173,596,137,11,2,9490688,2014-02-22,SONY,PlayStation4
8442,2025-07-27_PS5,2025-07-21,2025-07-27,2025-07-27,7,PS5,6920,2025,7,27,30,1718,245,56,5,988,6939238,2020-11-12,SONY,PlayStation5
8443,2025-07-27_XSX,2025-07-21,2025-07-27,2025-07-27,7,XSX,271,2025,7,27,30,1720,245,56,5,38,681795,2020-11-10,Microsoft,Xbox Series X|S

In [13]:


marker_sales_df = active_sales_df.pivot_table(
    index='report_date',
    columns='maker_name',
    values='units',
    aggfunc='sum'
)

marker_sales_df

maker_name   Microsoft  Nintendo     SONY
report_date
1998-10-18         NaN   13832.0  20918.0
1998-10-25         NaN  166830.0  21151.0
1998-11-01         NaN   75466.0  20128.0
1998-11-08         NaN   57548.0  27171.0
1998-11-15         NaN   42699.0  23575.0
...                ...       ...      ...
2025-06-29       353.0  176344.0   7356.0
2025-07-06       529.0  146355.0   8650.0
2025-07-13       247.0   85296.0   7292.0
2025-07-20       150.0  163931.0   6170.0
2025-07-27       271.0  106656.0   6938.0

[1398 rows x 3 columns]