In [1]:
%load_ext autoreload
%autoreload 2

In [2]:

%matplotlib widget

### 累計レポート
# 標準ライブラリ
import os
from datetime import datetime, timedelta
from typing import List, Dict, Tuple, Optional, Callable

# サードパーティライブラリ
import pandas as pd
from pandas import Timedelta
import matplotlib.pyplot as plt
import japanize_matplotlib
from matplotlib.ticker import ScalarFormatter
from IPython.display import Markdown, display

# プロジェクト内モジュール
import gamedata as g

plt.show()

# ランキングダッシュボード

## 週販ランキング

### 総合ランキング

In [21]:
g.chart_weekly_ranking(rank_n=10)

          集計日               ハード  週間販売台数
1  2025-06-08  Nintendo Switch2  715432
2  2000-03-05      PlayStation2  630552
3  2001-03-25  GAME BOY ADVANCE  611504
4  2006-01-01       Nintendo DS  511472
5  2005-12-25       Nintendo DS  511471
6  2011-12-25      Nintendo 3DS  510629
7  2004-12-05       Nintendo DS  441485
8  2012-12-23      Nintendo 3DS  433788
9  2020-03-22   Nintendo Switch  392576
10 2011-12-18      Nintendo 3DS  387838

### Nintendo Switch週販ランキング

In [3]:
g.chart_weekly_ranking(rank_n=20, hw=['NSW'])

          集計日              ハード  週間販売台数
1  2020-03-22  Nintendo Switch  392576
2  2017-03-05  Nintendo Switch  330637
3  2021-01-03  Nintendo Switch  312121
4  2017-12-24  Nintendo Switch  303504
5  2018-12-23  Nintendo Switch  300661
6  2019-12-22  Nintendo Switch  291485
7  2018-12-16  Nintendo Switch  285513
8  2020-03-29  Nintendo Switch  282561
9  2018-12-09  Nintendo Switch  278313
10 2020-12-27  Nintendo Switch  278173
11 2021-03-28  Nintendo Switch  267497
12 2020-12-20  Nintendo Switch  263304
13 2019-09-22  Nintendo Switch  239740
14 2019-12-15  Nintendo Switch  236625
15 2019-12-29  Nintendo Switch  234268
16 2017-12-17  Nintendo Switch  230259
17 2020-12-13  Nintendo Switch  229698
18 2019-01-06  Nintendo Switch  225698
19 2020-12-06  Nintendo Switch  204622
20 2021-12-05  Nintendo Switch  202937

In [4]:
g.chart_weekly_ranking(rank_n=-10, hw=['NSW'])

          集計日              ハード  週間販売台数
1  2026-02-01  Nintendo Switch   10678
2  2025-07-20  Nintendo Switch   11766
3  2025-06-22  Nintendo Switch   12769
4  2025-06-15  Nintendo Switch   13319
5  2025-07-13  Nintendo Switch   13411
6  2025-07-27  Nintendo Switch   14643
7  2025-06-29  Nintendo Switch   15323
8  2025-06-08  Nintendo Switch   16611
9  2025-09-21  Nintendo Switch   16612
10 2026-01-25  Nintendo Switch   17515

### Nintendo Switch2週販ランキング

In [24]:
g.chart_weekly_ranking(rank_n=10, hw=['NS2'])

          集計日               ハード  週間販売台数
1  2025-06-08  Nintendo Switch2  715432
2  2025-12-21  Nintendo Switch2  221033
3  2025-12-07  Nintendo Switch2  203398
4  2025-10-19  Nintendo Switch2  201684
5  2025-12-28  Nintendo Switch2  200257
6  2025-12-14  Nintendo Switch2  190944
7  2025-06-29  Nintendo Switch2  161021
8  2026-01-11  Nintendo Switch2  156919
9  2026-01-04  Nintendo Switch2  156919
10 2025-06-15  Nintendo Switch2  153205

### PlayStation5週販ランキング

In [25]:
g.chart_weekly_ranking(rank_n=10, hw=['PS5'])

          集計日           ハード  週間販売台数
1  2020-11-15  PlayStation5  118085
2  2025-03-02  PlayStation5  108978
3  2023-11-12  PlayStation5  107953
4  2023-02-12  PlayStation5   93574
5  2023-02-05  PlayStation5   93026
6  2023-02-26  PlayStation5   91729
7  2023-02-19  PlayStation5   88653
8  2024-11-10  PlayStation5   88160
9  2023-06-25  PlayStation5   85385
10 2023-03-05  PlayStation5   78412

#### PS5ワーストランキング

In [26]:
g.chart_weekly_ranking(rank_n=-10, hw=['PS5'])

          集計日           ハード  週間販売台数
1  2021-12-12  PlayStation5    1133
2  2023-11-05  PlayStation5    1217
3  2021-12-05  PlayStation5    1919
4  2022-05-15  PlayStation5    2693
5  2022-09-11  PlayStation5    2864
6  2023-10-29  PlayStation5    2933
7  2022-06-19  PlayStation5    3035
8  2021-11-21  PlayStation5    4307
9  2021-11-14  PlayStation5    4910
10 2022-10-09  PlayStation5    5546

## 月間ランキング

### 総合ランキング

In [27]:
g.chart_monthly_ranking(rank_n=10)

       年   月               ハード   月間販売台数
1   2011  12      Nintendo 3DS  1492931
2   2006  12       Nintendo DS  1477904
3   2012  12      Nintendo 3DS  1427194
4   2005  12       Nintendo DS  1344442
5   2025   6  Nintendo Switch2  1169684
6   2018  12   Nintendo Switch  1158743
7   2019  12   Nintendo Switch  1137642
8   2007  12       Nintendo DS  1111826
9   2004  12       Nintendo DS  1056428
10  2006   4       Nintendo DS  1050970

### Nintendo Switch月間ランキング

In [28]:
g.chart_monthly_ranking(rank_n=10, hw=['NSW'])

       年   月              ハード   月間販売台数
1   2018  12  Nintendo Switch  1158743
2   2019  12  Nintendo Switch  1137642
3   2017  12  Nintendo Switch   993318
4   2020  12  Nintendo Switch   975797
5   2021   1  Nintendo Switch   875389
6   2020   3  Nintendo Switch   836094
7   2021  12  Nintendo Switch   770158
8   2020  11  Nintendo Switch   666773
9   2019   9  Nintendo Switch   655793
10  2022  12  Nintendo Switch   647029

#### Nintendo Switch月間ワースト

In [5]:
g.chart_monthly_ranking(rank_n=-10, hw=['NSW'])

       年   月              ハード  月間販売台数
1   2026   2  Nintendo Switch   10678
2   2025   7  Nintendo Switch   57532
3   2025   6  Nintendo Switch   78097
4   2025   9  Nintendo Switch   82946
5   2026   1  Nintendo Switch   91109
6   2025   8  Nintendo Switch   94517
7   2025  10  Nintendo Switch   96080
8   2025   5  Nintendo Switch  106506
9   2025   4  Nintendo Switch  113513
10  2017   5  Nintendo Switch  127314

### Nintendo Switch2月間ランキング

In [30]:
g.chart_monthly_ranking(rank_n=10, hw=['NS2'])

      年   月               ハード   月間販売台数
1  2025   6  Nintendo Switch2  1169684
2  2025  12  Nintendo Switch2   815632
3  2025  11  Nintendo Switch2   500414
4  2025   7  Nintendo Switch2   444706
5  2025  10  Nintendo Switch2   358399
6  2025   8  Nintendo Switch2   319690
7  2026   1  Nintendo Switch2   313838
8  2025   9  Nintendo Switch2   175542

### PlayStation5月間ランキング

In [31]:
g.chart_monthly_ranking(rank_n=10, hw=['PS5'])

       年   月           ハード  月間販売台数
1   2023   2  PlayStation5  366982
2   2023   7  PlayStation5  243383
3   2023   1  PlayStation5  234329
4   2023  11  PlayStation5  231317
5   2023   3  PlayStation5  222656
6   2023   4  PlayStation5  219646
7   2025   3  PlayStation5  218300
8   2023   6  PlayStation5  215521
9   2023  12  PlayStation5  212371
10  2020  11  PlayStation5  201435

#### PlayStation5月間ワースト

In [32]:
g.chart_monthly_ranking(rank_n=-10, hw=['PS5'])

       年   月           ハード  月間販売台数
1   2021  11  PlayStation5   28324
2   2025   7  PlayStation5   28959
3   2025   5  PlayStation5   32001
4   2021  12  PlayStation5   37103
5   2025   4  PlayStation5   38983
6   2025   8  PlayStation5   39004
7   2026   1  PlayStation5   46753
8   2024  10  PlayStation5   47615
9   2022   6  PlayStation5   53239
10  2020  12  PlayStation5   53715

## 年間ランキング

### 総合年間ランキング

In [33]:
g.chart_yearly_ranking(rank_n=10)

       年               ハード   年間販売台数
1   2006       Nintendo DS  8966021
2   2007       Nintendo DS  7202068
3   2020   Nintendo Switch  5956943
4   2012      Nintendo 3DS  5646213
5   2021   Nintendo Switch  5579127
6   2013      Nintendo 3DS  4912059
7   2022   Nintendo Switch  4804546
8   2019   Nintendo Switch  4493903
9   2001  GAME BOY ADVANCE  4245686
10  2011      Nintendo 3DS  4132038

#### 総合メーカーランキング

In [34]:
g.chart_yearly_ranking(rank_n=10, maker=['Nintendo', 'SONY', 'Microsoft', 'SEGA', 'BANDAI', 'SNK'])

       年      メーカー    年間販売台数
1   2007  Nintendo  10952070
2   2006  Nintendo  10506980
3   2008  Nintendo   6829959
4   2012  Nintendo   6800824
5   2020  Nintendo   6019704
6   2009  Nintendo   5970423
7   2013  Nintendo   5873873
8   2001  Nintendo   5776430
9   2011  Nintendo   5653953
10  2021  Nintendo   5607667

#### 任天堂年間ワースト

In [35]:
g.chart_yearly_ranking(rank_n=-5, maker=['Nintendo'], begin=datetime(2000, 1, 1))

      年      メーカー   年間販売台数
1  2026  Nintendo   360198
2  2016  Nintendo  2210608
3  2000  Nintendo  2345151
4  2015  Nintendo  2658729
5  2024  Nintendo  3109265

### SONY年間ランキング

In [36]:
g.chart_yearly_ranking(rank_n=10, maker=['SONY'])

       年  メーカー   年間販売台数
1   2007  SONY  5073567
2   2008  SONY  5024167
3   2000  SONY  4693358
4   1999  SONY  4651903
5   2005  SONY  4296282
6   2010  SONY  4295208
7   2009  SONY  4282280
8   2006  SONY  3990548
9   2002  SONY  3960503
10  2011  SONY  3763580

#### SONY年間ワースト

In [37]:
g.chart_yearly_ranking(rank_n=-5, maker=['SONY'], begin=datetime(2000, 1, 1))

      年  メーカー   年間販売台数
1  2026  SONY    46778
2  2020  SONY   797797
3  2025  SONY   880291
4  2021  SONY  1072239
5  2022  SONY  1176877